@charset "UTF-8";
@font-face {
  font-family: 'Londrina Solid';
  src: url("../giffyglyphs-5e-monster-maker/fonts/LondrinaSolid-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Londrina Solid';
  src: url("../giffyglyphs-5e-monster-maker/fonts/LondrinaSolid-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Londrina Solid';
  src: url("../giffyglyphs-5e-monster-maker/fonts/LondrinaSolid-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Londrina Solid';
  src: url("../giffyglyphs-5e-monster-maker/fonts/LondrinaSolid-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../giffyglyphs-5e-monster-maker/fonts/SourceSansPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../giffyglyphs-5e-monster-maker/fonts/SourceSansPro-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../giffyglyphs-5e-monster-maker/fonts/SourceSansPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../giffyglyphs-5e-monster-maker/fonts/SourceSansPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../giffyglyphs-5e-monster-maker/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../giffyglyphs-5e-monster-maker/fonts/SourceSansPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../giffyglyphs-5e-monster-maker/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../giffyglyphs-5e-monster-maker/fonts/SourceSansPro-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../giffyglyphs-5e-monster-maker/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../giffyglyphs-5e-monster-maker/fonts/SourceSansPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../giffyglyphs-5e-monster-maker/fonts/SourceSansPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../giffyglyphs-5e-monster-maker/fonts/SourceSansPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

.gg5e-mm-accordion {
  filter: drop-shadow(0 1px 0 #143345); }
  .gg5e-mm-accordion .accordion-section__header {
    background: #28668a;
    color: white;
    padding: 0rem 1rem 0;
    line-height: 2rem;
    font-weight: bold;
    border-radius: 0;
    position: relative;
    padding-left: 2.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase; }
    .gg5e-mm-accordion .accordion-section__header::after {
      content: "\f078";
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      position: absolute;
      left: 0.25rem;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0.25rem;
      background: #5b99bd;
      color: white;
      border-radius: 1rem;
      font-size: smaller; }
  .gg5e-mm-accordion .accordion-section__body {
    background: white;
    border-radius: 0;
    position: relative;
    padding: 1rem;
    overflow: hidden; }
  .gg5e-mm-accordion .accordion-section:first-of-type .accordion-section__header {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem; }
  .gg5e-mm-accordion .accordion-section:not(:first-of-type) {
    border-top: 1px solid #1e4c68; }
  .gg5e-mm-accordion .accordion-section:last-child .accordion-section__body {
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem; }
  .gg5e-mm-accordion .accordion-section.opened {
    border-top-color: #8a4d28; }
    .gg5e-mm-accordion .accordion-section.opened .accordion-section__header {
      background: #ad6032;
      border-bottom: 1px solid #683a1e; }
      .gg5e-mm-accordion .accordion-section.opened .accordion-section__header::after {
        background: #cea084; }
    .gg5e-mm-accordion .accordion-section.opened + .opened {
      border-top-color: #683a1e; }
  .gg5e-mm-accordion .accordion-section:not(.opened) .accordion-section__header::after {
    content: "\f054"; }
  .gg5e-mm-accordion .accordion-section:not(.opened) .accordion-section__header:hover {
    background: #ad6032; }
    .gg5e-mm-accordion .accordion-section:not(.opened) .accordion-section__header:hover::after {
      background: #cea084; }
  .gg5e-mm-accordion .accordion-section:not(.opened) .accordion-section__body {
    display: none; }
  .gg5e-mm-accordion .accordion-section:not(.opened):last-child .accordion-section__header {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }

.gg5e-mm-block {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.75rem;
  background: white;
  filter: drop-shadow(0 1px 2px #28668a); }
  .gg5e-mm-block .block__title {
    text-transform: uppercase;
    color: #487997;
    font-weight: bold;
    position: relative;
    background: white;
    padding: 0.25rem 0.25rem;
    text-align: center;
    font-size: smaller; }
    .gg5e-mm-block .block__title + .block__contents {
      position: relative;
      border-top: 1px dotted #adccde; }
  .gg5e-mm-block .block__contents {
    flex-grow: 1;
    display: flex;
    text-align: center;
    overflow: hidden; }
  .gg5e-mm-block .block__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
    font-size: smaller;
    font-weight: 600;
    color: #487997; }
  .gg5e-mm-block .block__content {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.25rem; }
  .gg5e-mm-block .block__value {
    font-family: 'Londrina Solid';
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    .gg5e-mm-block .block__value i {
      color: #1e4c68;
      font-size: 1.75rem;
      margin-right: 0.25rem; }
    .gg5e-mm-block .block__value.length-1, .gg5e-mm-block .block__value.length-2, .gg5e-mm-block .block__value.length-3 {
      font-size: 1.75rem; }
    .gg5e-mm-block .block__value.length-4 {
      font-size: 1.5rem; }
    .gg5e-mm-block .block__value.length-5 {
      font-size: 1.15rem; }
  .gg5e-mm-block .block__title,
  .gg5e-mm-block .block__value,
  .gg5e-mm-block .block__description,
  .gg5e-mm-block .block__footer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .gg5e-mm-block .block__description {
    margin-top: 0.25rem;
    font-size: smaller;
    font-weight: 600;
    color: #487997; }

.gg5e-mm-panes {
  display: flex;
  width: 100%; }
  .gg5e-mm-panes .pane {
    background: white;
    padding: 0.25rem;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 1rem; }
  .gg5e-mm-panes .pane__header {
    background: black;
    color: white;
    padding: 0.5rem 1rem 1.5rem;
    border-radius: 0.75rem 0.75rem 0 0;
    flex-shrink: 0; }
  .gg5e-mm-panes .pane__body {
    background: white;
    margin-top: -1rem;
    border-radius: 1rem 1rem 0.75rem 0.75rem;
    padding: 1rem;
    overflow-y: auto;
    flex-grow: 1; }

.gg5e-mm-palette {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  padding: 1rem;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  width: 30rem; }
  .gg5e-mm-palette .color {
    height: 2.5rem; }
  .gg5e-mm-palette .primary-base {
    background: #327fad; }
  .gg5e-mm-palette .primary-shade-1 {
    background: #28668a; }
  .gg5e-mm-palette .primary-shade-2 {
    background: #1e4c68; }
  .gg5e-mm-palette .primary-shade-3 {
    background: #143345; }
  .gg5e-mm-palette .primary-shade-4 {
    background: #0a1923; }
  .gg5e-mm-palette .primary-tone-1 {
    background: #487997; }
  .gg5e-mm-palette .primary-tone-2 {
    background: #5f7480; }
  .gg5e-mm-palette .primary-tone-3 {
    background: #707070; }
  .gg5e-mm-palette .primary-tone-4 {
    background: #707070; }
  .gg5e-mm-palette .primary-tint-1 {
    background: #5b99bd; }
  .gg5e-mm-palette .primary-tint-2 {
    background: #84b2ce; }
  .gg5e-mm-palette .primary-tint-3 {
    background: #adccde; }
  .gg5e-mm-palette .primary-tint-4 {
    background: #d6e5ef; }
  .gg5e-mm-palette .secondary-base {
    background: #ad6032; }
  .gg5e-mm-palette .secondary-shade-1 {
    background: #8a4d28; }
  .gg5e-mm-palette .secondary-shade-2 {
    background: #683a1e; }
  .gg5e-mm-palette .secondary-shade-3 {
    background: #452614; }
  .gg5e-mm-palette .secondary-shade-4 {
    background: #23130a; }
  .gg5e-mm-palette .secondary-tone-1 {
    background: #976648; }
  .gg5e-mm-palette .secondary-tone-2 {
    background: #806b5f; }
  .gg5e-mm-palette .secondary-tone-3 {
    background: #707070; }
  .gg5e-mm-palette .secondary-tone-4 {
    background: #707070; }
  .gg5e-mm-palette .secondary-tint-1 {
    background: #bd805b; }
  .gg5e-mm-palette .secondary-tint-2 {
    background: #cea084; }
  .gg5e-mm-palette .secondary-tint-3 {
    background: #debfad; }
  .gg5e-mm-palette .secondary-tint-4 {
    background: #efdfd6; }

.gg5e-mm-form .form-group {
  margin: 0;
  position: relative;
  align-items: normal; }
  .gg5e-mm-form .form-group:not(:last-child) {
    border-bottom: 1px solid #debfad; }
  .gg5e-mm-form .form-group .form-group__header {
    flex-shrink: 0;
    margin: 0;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
    background: #efdfd6;
    line-height: 1;
    min-height: 2rem;
    text-align: right;
    color: #23130a;
    width: 8rem;
    flex: unset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .gg5e-mm-form .form-group .form-group__body {
    min-height: 2rem;
    overflow: hidden; }
    .gg5e-mm-form .form-group .form-group__body input,
    .gg5e-mm-form .form-group .form-group__body select {
      display: block;
      width: 100%;
      padding: 0 .75rem;
      line-height: 1;
      background-color: #fff;
      background-clip: padding-box;
      border: 0;
      border-radius: 0;
      margin: 0;
      height: 2rem; }
      .gg5e-mm-form .form-group .form-group__body input + input,
      .gg5e-mm-form .form-group .form-group__body input + select,
      .gg5e-mm-form .form-group .form-group__body select + input,
      .gg5e-mm-form .form-group .form-group__body select + select {
        border-top: 1px solid #debfad; }
      .gg5e-mm-form .form-group .form-group__body input:focus,
      .gg5e-mm-form .form-group .form-group__body select:focus {
        outline: 2px solid white;
        box-shadow: none; }
    .gg5e-mm-form .form-group .form-group__body select {
      padding-left: 0.5rem; }
    .gg5e-mm-form .form-group .form-group__body input[type="checkbox"] {
      height: 1.5rem;
      width: 1.5rem;
      margin-left: 0.5rem;
      margin-top: 0.25rem; }
      .gg5e-mm-form .form-group .form-group__body input[type="checkbox"]:hover {
        cursor: pointer; }
      .gg5e-mm-form .form-group .form-group__body input[type="checkbox"]:focus {
        outline: none; }
  .gg5e-mm-form .form-group .form-group__options {
    position: absolute;
    right: 0;
    top: 0;
    height: 2rem;
    display: flex;
    align-items: center; }
    .gg5e-mm-form .form-group .form-group__options button {
      background: none;
      border: none;
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.25; }
      .gg5e-mm-form .form-group .form-group__options button i {
        margin: 0; }
      .gg5e-mm-form .form-group .form-group__options button:hover, .gg5e-mm-form .form-group .form-group__options button:focus {
        opacity: 1;
        color: white;
        box-shadow: none;
        cursor: pointer; }
  .gg5e-mm-form .form-group .checkboxes {
    padding: 0.5rem; }
    .gg5e-mm-form .form-group .checkboxes .checkbox {
      display: inline-flex;
      width: 100%;
      font-size: inherit;
      height: auto;
      align-items: flex-start;
      padding: 0;
      line-height: 1rem; }
      .gg5e-mm-form .form-group .checkboxes .checkbox:hover {
        cursor: pointer; }
      .gg5e-mm-form .form-group .checkboxes .checkbox input {
        margin: 0;
        top: 0;
        display: inline-block;
        margin-right: 0.25rem;
        height: 1rem;
        width: 1rem; }
      .gg5e-mm-form .form-group .checkboxes .checkbox:not(:last-child) {
        margin-bottom: 0.25rem; }

.gg5e-mm-form .form-fieldset .form-fieldset__header {
  border-right: none;
  text-align: left;
  text-transform: uppercase;
  padding: 0 1rem 0 2rem;
  background: #debfad;
  min-height: auto;
  line-height: 2rem;
  border-bottom: 1px solid #debfad;
  position: relative;
  font-weight: bold;
  color: #452614; }
  .gg5e-mm-form .form-fieldset .form-fieldset__header::after {
    content: "\f07b";
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    position: absolute;
    left: 0.6rem;
    width: 0.8rem;
    height: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.6rem;
    color: #ad6032;
    font-size: larger; }

.gg5e-mm-form .form-fieldset:not(:first-child) {
  border-top: 1px solid #cea084; }

.modal {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: larger; }
  .modal:not(.open) {
    display: none; }
  .modal .modal__dialog {
    width: 27rem;
    box-shadow: 0 2px 10px 0 #143345;
    border-radius: 0.75rem;
    overflow: hidden; }
  .modal .modal__header {
    background: #327fad;
    text-align: center;
    padding: 0.5rem 2rem 1.5rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: larger;
    position: relative;
    font-weight: 600; }
    .modal .modal__header .modal__close {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      color: #327fad;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      width: 1.4rem;
      height: 1.4rem;
      background: #28668a;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .modal .modal__header .modal__close:hover {
        cursor: pointer;
        background: #1e4c68;
        color: white;
        box-shadow: none; }
      .modal .modal__header .modal__close i {
        margin: 0; }
    .modal .modal__header + .modal__body {
      margin-top: -1rem;
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem; }
  .modal .modal__body {
    background: white;
    position: relative;
    padding: 2rem; }
    .modal .modal__body > :first-child {
      margin-top: 0; }
    .modal .modal__body > :last-child {
      margin-bottom: 0; }
    .modal .modal__body pre {
      white-space: normal;
      font-family: inherit;
      font-weight: bold;
      background: #e4ebef;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem; }
      .modal .modal__body pre.text--center {
        text-align: center; }
    .modal .modal__body hr {
      margin: 1rem 0;
      border-color: #e4ebef;
      border-bottom: none; }
  .modal .modal__footer {
    background: #e4ebef;
    padding: 1rem 2rem; }
    .modal .modal__footer .modal__button {
      background: #327fad;
      color: white;
      border-radius: 0.75rem;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      padding: 0.25rem 2rem; }
      .modal .modal__footer .modal__button:hover {
        cursor: pointer;
        background: #5b99bd;
        color: white;
        box-shadow: none; }

.gg5e-mm-monster .monster__header {
  display: grid;
  grid-template-columns: 1fr 3.9rem;
  grid-column-gap: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #1e4c68;
  border-bottom: 2px solid #143345; }
  .gg5e-mm-monster .monster__header + .monster__body {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .gg5e-mm-monster .monster__header .monster__image {
    grid-row: 1 / span 2;
    grid-column: 2;
    position: relative; }
    .gg5e-mm-monster .monster__header .monster__image img {
      background: black;
      border-radius: 0.75rem;
      border: 2px solid #0a1923;
      display: block; }
  .gg5e-mm-monster .monster__header .monster__name {
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    font-family: 'Londrina Solid';
    line-height: 1.1; }
  .gg5e-mm-monster .monster__header .monster__description {
    font-weight: 600;
    font-size: larger;
    grid-column: 1; }
  .gg5e-mm-monster .monster__header .monster__name,
  .gg5e-mm-monster .monster__header .monster__description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .gg5e-mm-monster .monster__header .monster__combat {
    grid-column: 1 / span 2;
    font-weight: 600;
    position: relative;
    text-align: center;
    font-weight: 600;
    font-size: larger;
    border-top: 1px solid #0a1923;
    margin: 0.5rem -1rem -0.5rem;
    padding: 0.5rem 1rem; }
    .gg5e-mm-monster .monster__header .monster__combat .level,
    .gg5e-mm-monster .monster__header .monster__combat .rank,
    .gg5e-mm-monster .monster__header .monster__combat .role,
    .gg5e-mm-monster .monster__header .monster__combat .phase {
      display: inline-block; }
      .gg5e-mm-monster .monster__header .monster__combat .level i,
      .gg5e-mm-monster .monster__header .monster__combat .rank i,
      .gg5e-mm-monster .monster__header .monster__combat .role i,
      .gg5e-mm-monster .monster__header .monster__combat .phase i {
        margin-right: 0.25rem; }
      .gg5e-mm-monster .monster__header .monster__combat .level:not(:first-child),
      .gg5e-mm-monster .monster__header .monster__combat .rank:not(:first-child),
      .gg5e-mm-monster .monster__header .monster__combat .role:not(:first-child),
      .gg5e-mm-monster .monster__header .monster__combat .phase:not(:first-child) {
        margin-left: 0.25rem; }
        .gg5e-mm-monster .monster__header .monster__combat .level:not(:first-child)::before,
        .gg5e-mm-monster .monster__header .monster__combat .rank:not(:first-child)::before,
        .gg5e-mm-monster .monster__header .monster__combat .role:not(:first-child)::before,
        .gg5e-mm-monster .monster__header .monster__combat .phase:not(:first-child)::before {
          content: '•';
          color: #0a1923;
          margin-right: 0.25rem; }
    .gg5e-mm-monster .monster__header .monster__combat .rank .stars i:not(:first-child) {
      margin-left: -20px;
      filter: drop-shadow(0 0 2px #143345); }

.gg5e-mm-monster .monster__body {
  background: #84b2ce; }
  .gg5e-mm-monster .monster__body > * + * {
    margin-top: 0.25rem; }

.gg5e-mm-monster .monster__blocks .monster__blocks__row {
  display: flex; }
  .gg5e-mm-monster .monster__blocks .monster__blocks__row > * + * {
    margin-left: 0.25rem; }
  .gg5e-mm-monster .monster__blocks .monster__blocks__row + .monster__blocks__row {
    margin-top: 0.25rem; }

.gg5e-mm-monster .monster__blocks + * {
  margin-top: 0.5rem; }

.gg5e-mm-monster .monster__blocks .hit-points,
.gg5e-mm-monster .monster__blocks .attack-dcs {
  flex-grow: 1;
  width: 100%; }

.gg5e-mm-monster .monster__blocks .perception,
.gg5e-mm-monster .monster__blocks .ac {
  width: 6rem;
  flex-shrink: 0; }

.gg5e-mm-monster .monster__blocks .attack {
  width: 6.5rem;
  flex-shrink: 0; }

.gg5e-mm-monster .monster__blocks .damage {
  width: 12.25rem;
  flex-shrink: 0; }
  .gg5e-mm-monster .monster__blocks .damage .random {
    letter-spacing: 0; }
    .gg5e-mm-monster .monster__blocks .damage .random .roll {
      white-space: normal;
      line-height: 0.875;
      font-style: 1rem;
      text-align: left;
      letter-spacing: 0; }

.gg5e-mm-monster .monster__abilities .panel__header {
  text-transform: uppercase;
  text-align: center;
  padding-left: 3rem; }

.gg5e-mm-monster .monster__attributes {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0.35rem;
  grid-row-gap: 0.25rem;
  margin: 0; }
  .gg5e-mm-monster .monster__attributes dt {
    text-transform: uppercase;
    font-weight: bold;
    color: #327fad;
    font-size: smaller;
    text-align: right;
    line-height: 18px;
    position: relative; }
    .gg5e-mm-monster .monster__attributes dt::after {
      content: '';
      width: 4px;
      height: 100%;
      position: absolute;
      right: 7px;
      top: 0;
      background: #327fad;
      border-radius: 4px; }
  .gg5e-mm-monster .monster__attributes dd {
    padding: 0;
    margin: 0; }
    .gg5e-mm-monster .monster__attributes dd span:not(:last-child)::after {
      content: ', '; }
  .gg5e-mm-monster .monster__attributes .attribute__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.25rem;
    background: #327fad;
    color: white;
    line-height: 18px;
    width: 18px;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
    font-size: 12px;
    height: 18px;
    border: 1px solid #327fad;
    box-sizing: border-box;
    overflow: hidden; }

.gg5e-mm-monster .monster__modifiers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0.25rem;
  filter: drop-shadow(0 1px 0 #28668a); }
  .gg5e-mm-monster .monster__modifiers + .monster__attributes {
    margin-top: 0.75rem;
    border-top: 1px dotted #adccde;
    padding-top: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem; }

.gg5e-mm-monster .monster__modifier {
  text-align: center;
  overflow: hidden; }
  .gg5e-mm-monster .monster__modifier .title {
    text-transform: uppercase;
    color: #487997;
    font-weight: bold;
    position: relative;
    padding: 0.25rem 0.25rem 0.75rem;
    background: #d6e5ef;
    border-radius: 0.75rem 0.75rem 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .gg5e-mm-monster .monster__modifier .title + .value {
      margin-top: -1rem;
      position: relative; }
  .gg5e-mm-monster .monster__modifier .value {
    background: #d6e5ef;
    height: 4.3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: normal;
    font-family: 'Londrina Solid';
    letter-spacing: 2px;
    padding-bottom: 1.25rem;
    border-radius: 100%;
    border-radius: 0.75rem 0.75rem 1.5rem 1.5rem; }
  .gg5e-mm-monster .monster__modifier .save {
    position: relative;
    z-index: 1;
    height: 2.5rem;
    margin-top: -1.5rem;
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    color: white;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    align-items: center; }
    .gg5e-mm-monster .monster__modifier .save::before {
      content: '';
      position: absolute;
      top: 0;
      width: 2.5rem;
      height: 100%;
      left: calc(50% - 1.25rem);
      background: #487997;
      clip-path: polygon(0% 10%, 10% 70%, 50% 100%, 90% 70%, 100% 10%, 50% 0%);
      z-index: -1; }

.gg5e-mm-monster-options .options__header {
  display: flex;
  font-size: 2rem;
  text-align: center;
  font-family: 'Londrina Solid';
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #1e4c68;
  border-bottom: 2px solid #0a1923; }
  .gg5e-mm-monster-options .options__header .pane__icon {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a1923;
    border-radius: 0.75rem;
    margin-right: 1rem;
    font-size: 1.5rem; }
  .gg5e-mm-monster-options .options__header + .options__body {
    margin-top: 0; }

.gg5e-mm-monster-options .options__body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #84b2ce; }

.gg5e-mm-monster-options .button--help {
  background: none;
  width: 1rem;
  border: none;
  padding: 0;
  font-size: 10px;
  line-height: inherit;
  margin: 0;
  height: 1rem;
  background: #debfad;
  color: white;
  border-radius: 1rem;
  text-align: center;
  margin-left: 0.25rem;
  flex-shrink: 0; }
  .gg5e-mm-monster-options .button--help:hover {
    cursor: pointer;
    box-shadow: none;
    background: #ad6032; }
  .gg5e-mm-monster-options .button--help i {
    margin: 0; }

.gg5e-mm-monster-options .form-group--image img {
  background: black;
  border-radius: 0.75rem;
  width: 4.2rem;
  margin: 0.25rem auto 0.25rem 0.5rem;
  border: none;
  display: block; }
  .gg5e-mm-monster-options .form-group--image img:hover {
    cursor: pointer; }

.gg5e-mm-monster-options .accordion-section__body {
  padding: 0; }

.gg5e-mm-monster-options .fieldset-rank .target-players,
.gg5e-mm-monster-options .fieldset-rank .phases {
  display: none; }

.gg5e-mm-monster-options .fieldset-rank:not(.rank-custom) .form-group:not(.type) {
  display: none; }

.gg5e-mm-monster-options .fieldset-rank.scale-with-players .form-group.target-players {
  display: flex; }

.gg5e-mm-monster-options .fieldset-rank.show-phases .form-group.phases {
  display: flex; }

.gg5e-mm-monster-options .fieldset-rank .phases .form-group__body {
  display: flex;
  align-items: center; }
  .gg5e-mm-monster-options .fieldset-rank .phases .form-group__body input {
    width: 100%;
    flex-grow: 1; }
    .gg5e-mm-monster-options .fieldset-rank .phases .form-group__body input:first-child {
      margin-right: 0.5rem; }
    .gg5e-mm-monster-options .fieldset-rank .phases .form-group__body input:last-child {
      margin-left: 0.5rem; }

.gg5e-mm-monster-options .fieldset-role:not(.role-custom) .form-group:not(.type) {
  display: none; }

.gg5e-mm-monster-options .form-group--modifier .form-group__body {
  display: flex; }
  .gg5e-mm-monster-options .form-group--modifier .form-group__body .checkbox {
    display: inline-flex;
    font-size: inherit;
    white-space: nowrap;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem; }
    .gg5e-mm-monster-options .form-group--modifier .form-group__body .checkbox:hover {
      cursor: pointer; }
    .gg5e-mm-monster-options .form-group--modifier .form-group__body .checkbox input {
      margin: 0;
      top: 0;
      display: inline-block;
      margin-right: 0.25rem; }

.gg5e-mm-monster-options .ability-ranking,
.gg5e-mm-monster-options .save-ranking {
  display: flex;
  line-height: 2rem; }
  .gg5e-mm-monster-options .ability-ranking:not(:first-child),
  .gg5e-mm-monster-options .save-ranking:not(:first-child) {
    border-top: 1px solid #debfad; }
  .gg5e-mm-monster-options .ability-ranking .value,
  .gg5e-mm-monster-options .save-ranking .value {
    flex-grow: 1;
    padding: 0 0.5rem; }
    .gg5e-mm-monster-options .ability-ranking .value i,
    .gg5e-mm-monster-options .save-ranking .value i {
      width: 1.5rem;
      line-height: 1.5rem;
      display: inline-block;
      margin-right: 0.25rem;
      justify-content: center;
      align-items: center;
      background: #efdfd6;
      border-radius: 1rem;
      color: #8a4d28; }
  .gg5e-mm-monster-options .ability-ranking .move-down,
  .gg5e-mm-monster-options .ability-ranking .move-up,
  .gg5e-mm-monster-options .save-ranking .move-down,
  .gg5e-mm-monster-options .save-ranking .move-up {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 2rem; }
    .gg5e-mm-monster-options .ability-ranking .move-down:hover,
    .gg5e-mm-monster-options .ability-ranking .move-up:hover,
    .gg5e-mm-monster-options .save-ranking .move-down:hover,
    .gg5e-mm-monster-options .save-ranking .move-up:hover {
      cursor: pointer;
      box-shadow: none;
      color: #ad6032; }

.gg5e-mm-panel {
  filter: drop-shadow(0 1px 0 #143345); }
  .gg5e-mm-panel .panel__header {
    background: #28668a;
    color: white;
    padding: 0.5rem 1rem 1.5rem;
    font-size: larger;
    font-weight: bold;
    border-radius: 0.75rem 0.75rem 0 0;
    position: relative; }
    .gg5e-mm-panel .panel__header + .panel__body {
      margin-top: -1rem; }
  .gg5e-mm-panel .panel__body {
    background: white;
    border-radius: 0.75rem;
    position: relative;
    padding: 1rem; }
  .gg5e-mm-panel.panel--collapsible .panel__header {
    padding-right: 3rem;
    cursor: pointer; }
    .gg5e-mm-panel.panel--collapsible .panel__header::after {
      content: "\f077";
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      position: absolute;
      right: 0.25rem;
      width: 1.8rem;
      height: 1.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0.25rem;
      border-radius: 1rem; }
  .gg5e-mm-panel.panel--collapsible.closed .panel__header {
    padding-bottom: 0.5rem;
    border-radius: 0.75rem; }
    .gg5e-mm-panel.panel--collapsible.closed .panel__header::after {
      content: "\f078"; }
  .gg5e-mm-panel.panel--collapsible.closed .panel__body {
    display: none; }

.gg5e-mm-sheet {
  background: black;
  font-family: 'Source Sans Pro';
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative; }
  .gg5e-mm-sheet .sheet__body {
    flex-grow: 1;
    border-radius: 1rem;
    display: flex;
    overflow: hidden; }
  .gg5e-mm-sheet .sheet__footer {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between; }
  .gg5e-mm-sheet .sheet__id {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1; }
    .gg5e-mm-sheet .sheet__id .id,
    .gg5e-mm-sheet .sheet__id .name {
      display: flex;
      align-items: center; }
      .gg5e-mm-sheet .sheet__id .id::before,
      .gg5e-mm-sheet .sheet__id .name::before {
        content: '';
        background: white;
        width: 6px;
        display: inline-block;
        height: 6px;
        border-radius: 1rem;
        margin-right: 0.4rem; }
  .gg5e-mm-sheet .sheet__controls {
    display: flex; }
    .gg5e-mm-sheet .sheet__controls button {
      background: white;
      border: none;
      box-shadow: none;
      height: 2rem;
      width: 2rem;
      padding: 0;
      border-radius: 1rem;
      margin: 0;
      cursor: pointer; }
      .gg5e-mm-sheet .sheet__controls button i {
        margin: 0; }
      .gg5e-mm-sheet .sheet__controls button + * {
        margin-left: 0.25rem; }

.gg5e-mm-well .well__header {
  padding: 1rem 1rem 2rem;
  border-radius: 0.75rem 0.75rem 0 0;
  background: white; }
  .gg5e-mm-well .well__header + .well__body {
    margin-top: -1rem; }

.gg5e-mm-well .well__body {
  padding: 1rem;
  border-radius: 1rem;
  background: white; }

.gg5e-mm-window {
  border-radius: 0 0 1rem 1rem; }
  .gg5e-mm-window .window-header {
    border-bottom: none; }
    .gg5e-mm-window .window-header.resizable ~ .window-resizable-handle {
      background: white;
      color: black;
      border: none;
      box-shadow: none;
      height: 2rem;
      width: 2rem;
      padding: 0;
      border-radius: 1rem;
      right: 0.5rem;
      bottom: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: larger;
      cursor: pointer; }
    .gg5e-mm-window .window-header.resizable ~ .window-content .sheet__footer {
      padding-right: 2.25rem; }
  .gg5e-mm-window.minimized .window-header ~ .window-resizable-handle {
    display: none; }
  .gg5e-mm-window .window-content {
    background: none;
    padding: 0;
    border-radius: 1rem; }

.gg5e-mm-window--monster {
  width: 540px !important; }
  .gg5e-mm-window--monster .pane--edit {
    display: none;
    margin-top: 3.57rem;
    margin-bottom: 1rem;
    padding-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .gg5e-mm-window--monster.expanded {
    width: 980px !important; }
    .gg5e-mm-window--monster.expanded .gg5e-mm-panes {
      display: grid;
      grid-template-columns: 524px 1fr; }
    .gg5e-mm-window--monster.expanded .pane--edit {
      display: flex; }
