<div class="pane pane--view gg5e-mm-monster">
    <div class="pane__header monster__header">
        <div class="monster__name">{{actor.name}}</div>
        <div class="monster__description">{{data.gg5e_mm.monster.data.description}}</div>
        <div class="monster__image"><img src="{{actor.img}}"></div>
        <div class="monster__combat">
            <div class="level">
                <i class="fas fa-crown"></i> {{data.gg5e_mm.monster.data.combat.level}}
            </div>
            <div class="rank">
                <span class="stars">
                    {{#repeat data.gg5e_mm.monster.data.combat.rank.threat}}
                        <i class="fas fa-star"></i>
                    {{/repeat}}
                </span> {{data.gg5e_mm.monster.data.combat.rank.name}}
            </div>
            {{#if data.gg5e_mm.monster.data.combat.phase}}
                <div class="phase">
                    <i class="fas fa-clock"></i> {{data.gg5e_mm.monster.data.combat.phase}}
                </div>
            {{/if}}
            <div class="role">
                <i class="{{data.gg5e_mm.monster.data.combat.role.icon}}"></i> {{data.gg5e_mm.monster.data.combat.role.name}}
            </div>
        </div>
    </div>
    <div class="pane__body monster__body">
        <div class="monster__blocks">
            <div class="monster__blocks__row">
                <div class="gg5e-mm-block hit-points">
                    <div class="block__title">{{localize 'gg5e_mm.monster.view.hit_points.title'}}</div>
                    <div class="block__contents">
                        <div class="block__content">
                            <div class="block__value length-{{strlen data.gg5e_mm.monster.data.hit_points.temporary}}"><i class="far fa-heart"></i> {{data.gg5e_mm.monster.data.hit_points.temporary}}</div>
                            <div class="block__description">{{localize 'gg5e_mm.monster.view.hit_points.temporary'}}</div>
                        </div>
                        <div class="block__content">
                            <div class="block__value length-{{strlen data.gg5e_mm.monster.data.hit_points.current}}"><i class="fas fa-heart"></i> {{data.gg5e_mm.monster.data.hit_points.current}}</div>
                            <div class="block__description">{{localize 'gg5e_mm.monster.view.hit_points.current'}}</div>
                        </div>
                        <div class="block__content">
                            <div class="block__value length-{{strlen data.gg5e_mm.monster.data.hit_points.maximum}}"><i class="fas fa-heartbeat"></i> {{data.gg5e_mm.monster.data.hit_points.maximum}}</div>
                            <div class="block__description">{{localize 'gg5e_mm.monster.view.hit_points.maximum'}}</div>
                        </div>
                    </div>
                </div>
                <div class="gg5e-mm-block ac">
                    <div class="block__title">{{localize 'gg5e_mm.monster.view.armor_class'}}</div>
                    <div class="block__contents">
                        <div class="block__content">
                            <div class="block__value length-{{strlen data.gg5e_mm.monster.data.armor_class.value}}"><i class="fas fa-shield-alt"></i> {{data.gg5e_mm.monster.data.armor_class.value}}</div>
                            <div class="block__description">{{data.gg5e_mm.monster.data.armor_class.type}}</div>
                        </div>
                    </div>
                </div>
                <div class="gg5e-mm-block perception">
                    <div class="block__title">{{localize 'gg5e_mm.monster.view.perception.title'}}</div>
                    <div class="block__contents">
                        <div class="block__content">
                            <div class="block__value length-{{strlen data.gg5e_mm.monster.data.passive_perception}}"><i class="fas fa-eye"></i> {{data.gg5e_mm.monster.data.passive_perception}}</div>
                            <div class="block__description">{{localize 'gg5e_mm.monster.view.perception.passive'}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="monster__blocks__row">
                <div class="gg5e-mm-block attack">
                    <div class="block__title">{{localize 'gg5e_mm.monster.view.attack_bonus'}}</div>
                    <div class="block__contents">
                        <div class="block__content">
                            <div class="block__value length-{{strlen (numberFormat data.gg5e_mm.monster.data.attack_bonus.value sign=true)}}"><i class="fas fa-crosshairs"></i> {{numberFormat data.gg5e_mm.monster.data.attack_bonus.value sign=true}}</div>
                            <div class="block__description">{{data.gg5e_mm.monster.data.attack_bonus.type}}</div>
                        </div>
                    </div>
                </div>
                <div class="gg5e-mm-block attack-dcs">
                    <div class="block__title">{{localize 'gg5e_mm.monster.view.attack_dcs.title'}}</div>
                    <div class="block__contents">
                        <div class="block__content">
                            <div class="block__value length-{{strlen data.gg5e_mm.monster.data.attack_dcs.primary.value}}"><i class="fas fa-bullseye"></i> {{data.gg5e_mm.monster.data.attack_dcs.primary.value}}</div>
                            <div class="block__description">
                                {{#if data.gg5e_mm.monster.data.attack_dcs.primary.type}}
                                    {{data.gg5e_mm.monster.data.attack_dcs.primary.type}}
                                {{else}}
                                    {{localize 'gg5e_mm.monster.view.attack_dcs.primary'}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="block__content">
                            <div class="block__value length-{{strlen data.gg5e_mm.monster.data.attack_dcs.secondary.value}}"><i class="fas fa-bullseye"></i> {{data.gg5e_mm.monster.data.attack_dcs.secondary.value}}</div>
                            <div class="block__description">
                                {{#if data.gg5e_mm.monster.data.attack_dcs.secondary.type}}
                                    {{data.gg5e_mm.monster.data.attack_dcs.secondary.type}}
                                {{else}}
                                    {{localize 'gg5e_mm.monster.view.attack_dcs.secondary'}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gg5e-mm-block damage">
                    <div class="block__title">{{localize 'gg5e_mm.monster.view.damage'}}</div>
                    <div class="block__contents">
                        <div class="block__content static">
                            <div class="block__value length-{{strlen data.gg5e_mm.monster.data.damage_per_action.value}}"><i class="fas fa-fire"></i> {{data.gg5e_mm.monster.data.damage_per_action.value}}</div>
                        </div>
                        <div class="block__content random">
                            <div class="block__value length-{{strlen data.gg5e_mm.monster.data.damage_per_action.dice}}"><i class="fas fa-dice"></i> <span class="roll">{{data.gg5e_mm.monster.data.damage_per_action.dice}}</span></div>
                        </div>
                    </div>
                    {{#if data.gg5e_mm.monster.data.damage_per_action.type}}
                        <div class="block__footer">{{data.gg5e_mm.monster.data.damage_per_action.type}}</div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{#persistPanel data.gg5e_mm.gui.data.panels.panel_abilities}}
            <div class="gg5e-mm-panel panel--collapsible monster__abilities" id="panel-abilities">
                <input type="hidden" name="data.gg5e_mm.gui.data.panels.panel_abilities" value="{{data.gg5e_mm.gui.data.panels.panel_abilities}}"/>
                <div class="panel__header">{{localize 'gg5e_mm.monster.view.abilities.title'}}</div>
                <div class="panel__body">
                    <div class="monster__modifiers">
                        <div class="monster__modifier">
                            <div class="title">{{localize 'gg5e_mm.monster.common.ability.str.code'}}</div>
                            <div class="value">{{numberFormat data.gg5e_mm.monster.data.ability_modifiers.str sign=true}}</div>
                            <div class="save">{{numberFormat data.gg5e_mm.monster.data.saving_throws.str sign=true}}</div>
                        </div>
                        <div class="monster__modifier">
                            <div class="title">{{localize 'gg5e_mm.monster.common.ability.dex.code'}}</div>
                            <div class="value">{{numberFormat data.gg5e_mm.monster.data.ability_modifiers.dex sign=true}}</div>
                            <div class="save">{{numberFormat data.gg5e_mm.monster.data.saving_throws.dex sign=true}}</div>
                        </div>
                        <div class="monster__modifier">
                            <div class="title">{{localize 'gg5e_mm.monster.common.ability.con.code'}}</div>
                            <div class="value">{{numberFormat data.gg5e_mm.monster.data.ability_modifiers.con sign=true}}</div>
                            <div class="save">{{numberFormat data.gg5e_mm.monster.data.saving_throws.con sign=true}}</div>
                        </div>
                        <div class="monster__modifier">
                            <div class="title">{{localize 'gg5e_mm.monster.common.ability.int.code'}}</div>
                            <div class="value">{{numberFormat data.gg5e_mm.monster.data.ability_modifiers.int sign=true}}</div>
                            <div class="save">{{numberFormat data.gg5e_mm.monster.data.saving_throws.int sign=true}}</div>
                        </div>
                        <div class="monster__modifier">
                            <div class="title">{{localize 'gg5e_mm.monster.common.ability.wis.code'}}</div>
                            <div class="value">{{numberFormat data.gg5e_mm.monster.data.ability_modifiers.wis sign=true}}</div>
                            <div class="save">{{numberFormat data.gg5e_mm.monster.data.saving_throws.wis sign=true}}</div>
                        </div>
                        <div class="monster__modifier">
                            <div class="title">{{localize 'gg5e_mm.monster.common.ability.cha.code'}}</div>
                            <div class="value">{{numberFormat data.gg5e_mm.monster.data.ability_modifiers.cha sign=true}}</div>
                            <div class="save">{{numberFormat data.gg5e_mm.monster.data.saving_throws.cha sign=true}}</div>
                        </div>
                    </div>
                    <dl class="monster__attributes">
                        <dt><i class="fas fa-lightbulb fa-fw"></i> Skills</dt>
                        <dd>Initiative +7, Perception +4, Stealth +4</dd>
                        {{#if data.gg5e_mm.monster.data.speeds}}
                            <dt><i class="fas fa-shoe-prints fa-fw"></i> Speed</dt>
                            <dd>{{data.gg5e_mm.monster.data.speeds}}</dd>
                        {{/if}}
                        <dt><i class="fas fa-times fa-fw"></i> Damage Immunities</dt>
                        <dd>Necrotic</dd>
                        <dt><i class="fas fa-times fa-fw"></i> Condition Immunities</dt>
                        <dd>Blinded</dd>
                        {{#if data.gg5e_mm.monster.data.senses}}
                            <dt><i class="fas fa-eye fa-fw"></i> Senses</dt>
                            <dd>{{data.gg5e_mm.monster.data.senses}}</dd>
                        {{/if}}
                        <dt><i class="fas fa-comment fa-fw"></i> Languages</dt>
                        <dd>Common, Draconic, Deep Speech</dd>
                    </dl>
                </div>
            </div>
        {{/persistPanel}}
    </div>
</div>