<div class="gg5e-mm-panel panel--collapsible monster__lair-actions" id="panel-lair-actions">
	<div class="panel__header">{{localize 'gg5e_mm.monster.view.lair_actions.title'}}</div>
	<div class="panel__body">
		<div class="legendary__blurb">
            {{localize 'gg5e_mm.monster.view.lair_actions.blurb' initiative=data.gg5e_mm.monster.data.lair_actions.initiative}}
        </div>
        <div class="legendary__maximum">
            <div class="legendary__value">
                <i class="fas fa-hourglass"></i> {{data.gg5e_mm.monster.data.lair_actions.initiative}}
            </div>
            <div class="legendary__description">
                {{localize 'gg5e_mm.monster.view.lair_actions.initiative'}}
            </div>
        </div>
	</div>
</div>