<div class="gg5e-mm-panel panel--collapsible monster__paragon-actions" id="panel-paragon-actions">
	<div class="panel__header">{{localize 'gg5e_mm.monster.view.paragon_actions.title'}}</div>
	<div class="panel__body">
		<div class="legendary__blurb">
            {{localize 'gg5e_mm.monster.view.paragon_actions.blurb'}}
        </div>
        <div class="legendary__current">
            <div class="legendary__value">
                <input class="legendary--current" data-action="update-field" data-field="data.gg5e_mm.blueprint.data.paragon_actions.current" data-type="number"/>
                <i class="far fa-clock"></i> {{data.gg5e_mm.monster.data.paragon_actions.current}}
            </div>
            <div class="legendary__description">
                {{localize 'gg5e_mm.monster.view.paragon_actions.current'}}
            </div>
        </div>
        <div class="legendary__maximum">
            <div class="legendary__value" title="{{{parseSources data.gg5e_mm.monster.data.paragon_actions.maximum.sources}}}">
                <i class="fas fa-clock"></i> {{data.gg5e_mm.monster.data.paragon_actions.maximum.value}}
            </div>
            <div class="legendary__description">
                {{localize 'gg5e_mm.monster.view.paragon_actions.maximum'}}
            </div>
        </div>
	</div>
</div>