<div class="modal" id="modal_ability_modifiers">
	<div class="modal__dialog">
		<div class="modal__header">
			<span class="modal__title">Modifying Abilities</span>
			<button class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
		</div>
		<div class="modal__body">
			<p>To customise your monster's ability modifiers and saving throws, you can define a series of comma-separated <i>modifiers</i>—for example:</p>
			<pre class="text--center">
				str=1, int=-2, cha=7
			</pre>
			<p>These modifiers can be either <i>relative</i> or <i>absolute</i> in nature.</p>
		</div>
		<div class="modal__footer">
			<button class="modal__button" data-action="close-modal">Ok</button>
		</div>
	</div>
</div>