<div class="modal" id="modal_ability_ranks">
	<div class="modal__dialog">
		<div class="modal__header">
			<span class="modal__title">Ranking Abilities</span>
			<button class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
		</div>
		<div class="modal__body">
			<p>To automatically calculate your monster's ability modifiers and saving throws, rank their six abilities from the strongest (top) to the weakest (bottom).</p>
		</div>
		<div class="modal__footer">
			<button class="modal__button" data-action="close-modal">Ok</button>
		</div>
	</div>
</div>