<div class="gg5e-mm-modal modal--about" id="modal_about">
	<div class="modal__dialog">
		<div class="modal__icon"><i class="fas fa-question"></i></div>
		<div class="modal__header">
			<div class="modal__title">{{localize 'gg5e_mm.modal.info.about.title'}}</div>
			<button class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
		</div>
		<div class="modal__body">
			<p class="intro">{{{localize 'gg5e_mm.modal.info.about.p.1' pdf='https://drive.google.com/file/d/1BKZcrdUeeZCiG8WjC1E_Pxr1LCpaGbfY/view?usp=sharing'}}}</p>
            <div class="support">
                <p class="support__title">{{localize 'gg5e_mm.modal.info.about.support'}}</p>
                <p>{{{localize 'gg5e_mm.modal.info.about.p.2'}}}</p>
                <ul class="support__links">
                    <li><a class="patreon" href="https://www.patreon.com/bePatron?u=12684623"><i class="fab fa-fw fa-patreon"></i> {{{localize 'gg5e_mm.modal.info.about.patreon'}}}</a></li>
                    <li><a class="kofi" href="https://ko-fi.com/giffyglyph#checkoutModal"><i class="fas fa-fw fa-heart"></i> {{{localize 'gg5e_mm.modal.info.about.kofi'}}}</a></li>
                </ul>
                <ul class="contact_links">
                    <li>
                        <a class="reddit" href="https://reddit.com/r/darkerdungeons5e">
                            <i class="fab fa-fw fa-reddit-alien"></i>
                        </a>
                    </li>
                    <li>
                        <a class="youtube" href="https://youtube.com/giffyglyph">
                            <i class="fab fa-fw fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="https://twitter.com/giffyglyph">
                            <i class="fab fa-fw fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a class="facebook" href="https://facebook.com/giffyglyph">
                            <i class="fab fa-fw fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a class="twitch" href="https://twitch.com/giffyglyph">
                            <i class="fab fa-fw fa-twitch"></i>
                        </a>
                    </li>
                    <li>
                        <a class="website" href="https://www.giffyglyph.com">giffyglyph.com</a>
                    </li>
                </ul>
            </div>
		</div>
	</div>
</div>