<div class="gg5e-mm-modal modal--basic-damage" id="modal_basic_damage">
	<div class="modal__dialog">
		<div class="modal__icon"><i class="fas fa-fire"></i></div>
		<div class="modal__header">
			<div class="modal__title">{{localize 'gg5e_mm.modal.basic_damage.title'}}</div>
			<button class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
		</div>
		<div class="modal__body">
			<form class="gg5e-mm-form form--modal form--horizontal">
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.modal.basic_damage.bonus'}}</span>
					</div>
					<div class="form-group__body">
						<div class="radios radios--grid damages">
							<label class="radio damage">
								<input type="radio" name="bonus" value="static" class="radio--static" checked/>
								<span>
									<span class="damage__value">{{data.gg5e_mm.monster.data.damage_per_action.value}}</span>
									<span class="damage__title">{{localize 'gg5e_mm.modal.basic_damage.static'}}</span>
								</span>
							</label>
							<label class="radio damage">
								<input type="radio" name="bonus" value="random" class="radio--random"/>
								<span>
									<span class="damage__value">{{data.gg5e_mm.monster.data.damage_per_action.dice}}</span>
									<span class="damage__title">{{localize 'gg5e_mm.modal.basic_damage.random'}}</span>
								</span>
							</label>
							<input type="hidden" name="static" value="{{data.gg5e_mm.monster.data.damage_per_action.value}}"/>
							<input type="hidden" name="random" value="{{data.gg5e_mm.monster.data.damage_per_action.dice}}"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.modal.common.modifiers.title'}}</span>
					</div>
					<div class="form-group__body">
						<input name="modifiers" type="text" placeholder="{{localize 'gg5e_mm.modal.common.modifiers.placeholder'}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.modal.common.roll_mode.title'}}</span>
					</div>
					<div class="form-group__body">
						<select name="mode">
							<option value="roll" selected="">{{localize 'gg5e_mm.modal.common.roll_mode.roll'}}</option>
							<option value="gmroll">{{localize 'gg5e_mm.modal.common.roll_mode.gmroll'}}</option>
							<option value="blindroll">{{localize 'gg5e_mm.modal.common.roll_mode.blindroll'}}</option>
							<option value="selfroll">{{localize 'gg5e_mm.modal.common.roll_mode.selfroll'}}</option>
						</select>
					</div>
				</div>
			</form>
		</div>
		<div class="modal__footer">
			<button class="modal__button" data-action="roll-critical"><i class="fas fa-skull"></i> {{localize 'gg5e_mm.modal.common.button.critical'}}</button>
			<button class="modal__button" data-action="roll-normal"><i class="fas fa-dice"></i> {{localize 'gg5e_mm.modal.common.button.roll'}}</button>
		</div>
	</div>
</div>