<div class="gg5e-mm-modal modal--basic-attack-ac" id="modal_basic_attack_ac">
	<div class="modal__dialog">
		<div class="modal__icon"><i class="fas fa-crosshairs"></i></div>
		<div class="modal__header">
			<div class="modal__title">{{localize 'gg5e_mm.modal.basic_attack_ac.title'}}</div>
			<button class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
		</div>
		<div class="modal__body">
			<form class="modal__form">
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.modal.basic_attack_ac.bonus'}}</span>
					</div>
					<div class="form-group__body">
						<input name="bonus" value="{{numberFormat data.gg5e_mm.monster.data.attack_bonus.value sign=true}}" readonly/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.modal.common.modifiers.title'}}</span>
					</div>
					<div class="form-group__body">
						<input name="modifiers" type="text" placeholder="{{localize 'gg5e_mm.modal.common.modifiers.placeholder'}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.modal.common.roll_mode.title'}}</span>
					</div>
					<div class="form-group__body">
						<select name="mode">
							<option value="roll" selected="">{{localize 'gg5e_mm.modal.common.roll_mode.roll'}}</option>
							<option value="gmroll">{{localize 'gg5e_mm.modal.common.roll_mode.gmroll'}}</option>
							<option value="blindroll">{{localize 'gg5e_mm.modal.common.roll_mode.blindroll'}}</option>
							<option value="selfroll">{{localize 'gg5e_mm.modal.common.roll_mode.selfroll'}}</option>
						</select>
					</div>
				</div>
			</form>
		</div>
		<div class="modal__footer">
			<button class="modal__button" data-action="roll-normal"><i class="fas fa-dice-d20"></i> {{localize 'gg5e_mm.modal.common.button.roll'}}</button>
			<button class="modal__button" data-action="roll-disadvantage"><i class="fas fa-arrow-circle-down"></i> {{localize 'gg5e_mm.modal.common.button.disadvantage'}}</button>
			<button class="modal__button" data-action="roll-advantage"><i class="fas fa-arrow-circle-up"></i> {{localize 'gg5e_mm.modal.common.button.advantage'}}</button>
		</div>
	</div>
</div>