<div class="gg5e-mm-modal" id="modal_modifiers">
	<div class="modal__dialog">
		<div class="modal__icon"><i class="fas fa-pen"></i></div>
		<div class="modal__header">
			<div class="modal__title">{{localize 'gg5e_mm.modal.info.modifiers.title'}}</div>
			<button class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
		</div>
		<div class="modal__body">
			<p>{{{localize 'gg5e_mm.modal.info.modifiers.p.1'}}}</p>
			<p>{{localize 'gg5e_mm.modal.info.modifiers.p.2'}}</p>
			<ol>
				<li>{{{localize 'gg5e_mm.modal.info.modifiers.li.1'}}}</li>
				<li>{{{localize 'gg5e_mm.modal.info.modifiers.li.2'}}}</li>
			</ol>
		</div>
	</div>
</div>