<div class="gg5e-mm-modal modal--saving-throw" id="modal_saving_throw">
	<div class="modal__dialog">
		<div class="modal__icon"><i class="fas fa-shield-alt"></i></div>
		<div class="modal__header">
			<div class="modal__title">{{localize 'gg5e_mm.modal.saving_throw.title'}}</div>
			<button class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
		</div>
		<div class="modal__body">
			<form class="modal__form">
				<div class="form-group form-group--saves">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.modal.saving_throw.ability_bonus'}}</span>
					</div>
					<div class="form-group__body">
						<div class="radios radios--grid saves">
							<label class="radio save">
								<input type="radio" class="radio--str" name="save" value="str" checked/>
								<input type="hidden" name="save_str" value="{{data.gg5e_mm.monster.data.saving_throws.str.value}}"/>
								<span>
									<span class="save__name">{{localize 'gg5e_mm.monster.common.ability.str.code'}}</span>
									<span class="save__value">{{numberFormat data.gg5e_mm.monster.data.saving_throws.str.value sign=true}}</span>
								</span>
							</label>
							<label class="radio save">
								<input type="radio" class="radio--dex" name="save" value="dex"/>
								<input type="hidden" name="save_dex" value="{{data.gg5e_mm.monster.data.saving_throws.dex.value}}"/>
								<span>
									<span class="save__name">{{localize 'gg5e_mm.monster.common.ability.dex.code'}}</span>
									<span class="save__value">{{numberFormat data.gg5e_mm.monster.data.saving_throws.dex.value sign=true}}</span>
								</span>
							</label>
							<label class="radio save">
								<input type="radio" class="radio--con" name="save" value="con"/>
								<input type="hidden" name="save_con" value="{{data.gg5e_mm.monster.data.saving_throws.con.value}}"/>
								<span>
									<span class="save__name">{{localize 'gg5e_mm.monster.common.ability.con.code'}}</span>
									<span class="save__value">{{numberFormat data.gg5e_mm.monster.data.saving_throws.con.value sign=true}}</span>
								</span>
							</label>
							<label class="radio save">
								<input type="radio" class="radio--int" name="save" value="int"/>
								<input type="hidden" name="save_int" value="{{data.gg5e_mm.monster.data.saving_throws.int.value}}"/>
								<span>
									<span class="save__name">{{localize 'gg5e_mm.monster.common.ability.int.code'}}</span>
									<span class="save__value">{{numberFormat data.gg5e_mm.monster.data.saving_throws.int.value sign=true}}</span>
								</span>
							</label>
							<label class="radio save">
								<input type="radio" class="radio--wis" name="save" value="wis"/>
								<input type="hidden" name="save_wis" value="{{data.gg5e_mm.monster.data.saving_throws.wis.value}}"/>
								<span>
									<span class="save__name">{{localize 'gg5e_mm.monster.common.ability.wis.code'}}</span>
									<span class="save__value">{{numberFormat data.gg5e_mm.monster.data.saving_throws.wis.value sign=true}}</span>
								</span>
							</label>
							<label class="radio save">
								<input type="radio" class="radio--cha" name="save" value="cha"/>
								<input type="hidden" name="save_cha" value="{{data.gg5e_mm.monster.data.saving_throws.cha.value}}"/>
								<span>
									<span class="save__name">{{localize 'gg5e_mm.monster.common.ability.cha.code'}}</span>
									<span class="save__value">{{numberFormat data.gg5e_mm.monster.data.saving_throws.cha.value sign=true}}</span>
								</span>
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.modal.common.modifiers.title'}}</span>
					</div>
					<div class="form-group__body">
						<input name="modifiers" type="text" placeholder="{{localize 'gg5e_mm.modal.common.modifiers.placeholder'}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.modal.common.roll_mode.title'}}</span>
					</div>
					<div class="form-group__body">
						<select name="mode">
							<option value="roll" selected="">{{localize 'gg5e_mm.modal.common.roll_mode.roll'}}</option>
							<option value="gmroll">{{localize 'gg5e_mm.modal.common.roll_mode.gmroll'}}</option>
							<option value="blindroll">{{localize 'gg5e_mm.modal.common.roll_mode.blindroll'}}</option>
							<option value="selfroll">{{localize 'gg5e_mm.modal.common.roll_mode.selfroll'}}</option>
						</select>
					</div>
				</div>
			</form>
		</div>
		<div class="modal__footer">
			<button class="modal__button" data-action="roll-normal"><i class="fas fa-dice-d20"></i> {{localize 'gg5e_mm.modal.common.button.roll'}}</button>
			<button class="modal__button" data-action="roll-disadvantage"><i class="fas fa-arrow-circle-down"></i> {{localize 'gg5e_mm.modal.common.button.disadvantage'}}</button>
			<button class="modal__button" data-action="roll-advantage"><i class="fas fa-arrow-circle-up"></i> {{localize 'gg5e_mm.modal.common.button.advantage'}}</button>
		</div>
	</div>
</div>