<div class="modal" id="modal_tags">
	<div class="modal__dialog">
		<div class="modal__header">
			<span class="modal__title">Monster Tags</span>
			<button class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
		</div>
		<div class="modal__body">
			<p>Create <i>tags</i> to define categories and sub-types for your monster—ancestries, power sources, elements, factions, affiliations, etc.</p>
			<hr/>
			<p>You can create multiple tags by separating each with a comma—for example:</p>
			<pre class="text--center">
				val1, second value, thirdValue
			</pre>
		</div>
		<div class="modal__footer">
			<button class="modal__button" data-action="close-modal">Ok</button>
		</div>
	</div>
</div>