.gmm-accordion {
	filter: drop-shadow(0 2px 0 var(--color-primary-shade-4));

	.accordion-group {
		border-radius: 0.75rem;
		overflow: hidden;

		&:not(:last-child) {
			margin-bottom: 0.25rem;
		}
	}

	.accordion-section__header {

		&:hover {
			background: var(--color-secondary-base) !important;

			.accordion-section__info .badge {
				background: var(--color-secondary-shade-2) !important;
			}
		}
	}

	.accordion-section {
		
		&:not(:first-of-type) {
			border-top: 1px solid var(--color-primary-shade-2);
		}

		&.opened {

			.accordion-section__header {
				background: var(--color-primary-shade-3);

				.accordion-section__info .badge {
					background: var(--color-primary-shade-1);
				}
			}
		}

		&:not(.opened) {

			.accordion-section__header {
	
				&::before {
					transform: rotate(-90deg);
				}
			}
	
			.accordion-section__body {
				display: none;
			}
		}

		&.collapsing {

			.accordion-section__header {
				background: var(--color-primary-shade-3);

				&::before {
					transition: transform 200ms ease-in-out;
				}
			}

			&.opened {

				.accordion-section__header::before {
					transform: rotate(-90deg);
				}
			}

			&:not(.opened) {

				.accordion-section__header::before {
					transform: rotate(0deg);
				}
			}
		}
	}

	.accordion-section__header {
		background: var(--color-primary-shade-1);
		color: white;
		padding: 0rem 1rem 0;
		line-height: 2rem;
		font-weight: bold;
		border-radius: 0;
		position: relative;
		padding-left: 2.25rem;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;

		&::before {
			content: "\f078";
			-webkit-font-smoothing: antialiased;
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			position: absolute;
			left: 0.25rem;
			width: 1.5rem;
			height: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0.25rem;
			color: white;
			border-radius: 1rem;
			font-size: smaller;
		}
	}

	.accordion-section__body {
		background: white;
		border-radius: 0;
		position: relative;
		padding: 1rem;
		overflow: hidden;
	}

	.accordion-section__info {

		.badge {
			background: var(--color-primary-shade-2);
			font-weight: normal;
			color: white;
			padding: 0 0.35rem;
			border-radius: 1rem;
			line-height: 1.2;
		}

		.modifier {

			&::before {
				content: "\f071";
				-webkit-font-smoothing: antialiased;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
			}
		}

		button {
			line-height: 1;
			background: var(--color-primary-base);
			color: white;
			font-weight: bold;
			font-family: inherit;
			border: none;
			border-radius: 0.75rem;
			padding: 0.125rem 0.5rem;
			font-weight: bold;
		}
	}
}