.gmm-artifact {
	border: 0.125rem solid white;
	overflow: hidden;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	height: 100%;
	padding: 2px;
	background: var(--color-primary-tint-2);

	[data-action="open-config"]:hover {
		cursor: pointer;
		color: var(--color-secondary-base) !important;
	}

	::-webkit-scrollbar {
		width: 1rem;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background: var(--color-primary-shade-1);
		border: 2px solid var(--color-primary-tint-2);
	}

	::-webkit-scrollbar-track {
		box-shadow: none;
		border-radius: 1rem;
		background: var(--color-primary-tint-1);
		border: 5px solid var(--color-primary-tint-2);
	}

	.artifact__header {
		background: black;
		color: white;
		padding: 0.25rem;
		flex-shrink: 0;
		display: flex;
		background: var(--color-primary-shade-2);
		filter: drop-shadow(0 2px 0 var(--color-primary-shade-4));
		position: relative;
		z-index: 1;
		border-radius: 0.75rem;
		margin-bottom: 2px;
	}

	.artifact__body {
		padding: 2px 1px 2px 0;
		margin: calc(0.25rem - 2px) -1px -2px 0;
		overflow-y: auto;
		flex-grow: 1;
		border-radius: 0.75rem;
	}

	.artifact__error {
		flex-grow: 1;
		text-align: center;
		font-size: 1.5rem;
		padding: 2rem;
		background: var(--color-primary-tint-2);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: white;

		.error__icon {
			border: 2px solid white;
			font-size: 3rem;
			height: 4rem;
			width: 4rem;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 1rem;
			margin-bottom: 1rem;
		}
	}
}