.gmm-artifact.artifact--monster {

	&.artifact--monster--vanity {
		padding: 0;
		overflow: hidden;

		.monster__header {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-column-gap: 0.5rem;
			overflow: hidden;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			.monster__image {
				grid-row: 1 / span 3;
				grid-column: 1;
				position: relative;
				height: 97px;
				width: 97px;
				display: flex;
				justify-content: center;
				background: var(--color-primary-shade-3);
				border-radius: 0.75rem;

				&[data-action="open-config"]:hover {
					outline: 2px solid;
				}

				img {
					border: none;
					display: block;
					max-height: 100%;
					max-width: 100%;
				}
			}

			.monster__name {
				font-size: 2.5rem;
				letter-spacing: 0.5px;
				font-family: 'Londrina Solid';
				line-height: 1.1;
			}

			.monster__description {
				font-weight: 600;
				font-size: larger;
				grid-column: 2;
			}

			.monster__name,
			.monster__description {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.monster__combat {
				grid-column: 2;
				font-weight: 600;
				position: relative;
				font-weight: 600;
				font-size: larger;
				border-top: 1px solid var(--color-primary-shade-4);
				margin: 0.25rem 0 0;
				padding: 0.25rem 1rem 0 0;
				white-space: nowrap;
				overflow: hidden;
				width: 100%;
				text-overflow: ellipsis;

				.level,
				.rank,
				.role,
				.phase {
					display: inline;

					i {
						margin-right: 0.25rem;
					}

					&:not(:first-child) {
						margin-left: 0.25rem;

						&::before {
							content: '•';
							color: var(--color-primary-shade-4);
							margin-right: 0.25rem;
						}
					}
				}

				.rank .stars {

					i:not(:first-child) {
						margin-left: -20px;
						filter: drop-shadow(0 0 2px var(--color-primary-shade-3));
					}
				}
			}
		}

		.monster__body {
			background: none;
			color: black;
			padding: 0.25rem;
			margin: 0;
			overflow-y: auto;
			flex-grow: 1;
		}

		.monster__panels {
			display: flex;
			flex-direction: column;
			row-gap: 0.25rem;
			min-height: 100%;

			> * {
				filter: drop-shadow(0 2px 0 var(--color-primary-shade-4));
			}
		}

		.monster__blocks {

			.monster__blocks__row {
				display: flex;

				> * + * {
					margin-left: 2px;
				}

				+ .monster__blocks__row {
					margin-top: 2px;
				}
			}

			.hit-points {

				button {
					border: none;
					padding: 0;
					margin: 0;
					color: var(--color-primary-tone-1);
					line-height: inherit;
					font-family: inherit;
					font-size: inherit;
					font-weight: inherit;

					i {
						margin :0;
					}

					&:hover {
						color: var(--color-secondary-base);
						cursor: pointer;
					}
				}
			}

			.hit-points,
			.attack-dcs {
				flex-grow: 1;
				width: 100%;
			}

			.perception,
			.ac {
				width: 6.5rem;
				flex-shrink: 0;
			}

			.attack {
				width: 7rem;
				flex-shrink: 0;
			}

			.damage {
				width: 13.25rem;
				flex-shrink: 0;

				.random {
					letter-spacing: 0;

					.roll {
						white-space: normal;
						line-height: 0.875;
						font-style: 1rem;
						text-align: left;
						letter-spacing: 0;
						margin-top: -5px;
						margin-bottom: -5px;
					}
				}
			}

			.hit-points__temporary,
			.hit-points__current {

				&:hover {
					color: var(--color-secondary-base);

					i {
						color: var(--color-secondary-base);
					}
				}
			}

			.input--thp,
			.input--hp {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				text-align: center;
				font-size: inherit;
				font-family: inherit;
				opacity: 0;
				background: var(--color-secondary-tint-5);
				border: none;
				border-radius: 0.5rem;

				&:focus {
					opacity: 1;
				}
			}
		}

		.gmm-accordion {
			filter: none;

			.accordion-section__header {
				color: var(--color-primary-shade-1);
    		background: var(--color-primary-tint-4);
				padding-right: 0.5rem;

				&::before {
					background: var(--color-primary-base);
				}

				&:hover {
					background: var(--color-primary-tint-4) !important;

					&::before {
						background: var(--color-secondary-base);
					}
				}
			}

			.accordion-section:not(:first-of-type) {
				border-top: none;
				margin-top: 1px;
			}

			.accordion-section__body {
				padding: 0;
			}

			.accordion-section:last-child .accordion-section__body > :last-child {
				margin-bottom: 0;
			}
		}

		.panel--properties {

			.monster__skill {
				padding: 0;
				display: inline;
				width: auto;
				font-weight: normal;
				font-family: inherit;
				line-height: inherit;
				font-size: inherit;
		
				&:not(:last-child)::after {
					content: ', ';
				}
			}

			.monster__modifiers {
				display: grid;
				grid-template-columns: repeat(6, 1fr);
				grid-column-gap: 0.25rem;
				background: radial-gradient(circle, var(--color-primary-base) 0%, var(--color-primary-shade-1) 100%);
				padding: 0.5rem;
				border-radius: 0.75rem;
				margin: 1rem -0.5rem;
				position: relative;

				&::before,
				&::after {
					content: '';
					position: absolute;
					height: 1rem;
					width: 1rem;
					left: calc(50% - 0.5rem);
					background: var(--color-primary-tint-3);
					border: 5px solid var(--color-primary-base);
					box-sizing: border-box;
					transform: rotate(45deg);
				}

				&::before {
					top: -0.25rem;
				}

				&::after {
					bottom: -0.25rem;
				}
		
				.monster__modifier {
					text-align: center;
					overflow: hidden;
					background: var(--color-primary-tint-4);
					border-radius: 0.75rem;
			
					.modifier {
						background: white;
						border-radius: 0 0 1.5rem 1.5rem;
					}
			
					.title {
						text-transform: uppercase;
						color: var(--color-primary-tone-1);
						font-weight: bold;
						position: relative;
						padding: 0.25rem 0.25rem 0;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						font-size: smaller;
					}
			
					.value {
						height: 3.5rem;
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 1.5rem;
						font-weight: normal;
						font-family: 'Londrina Solid';
						letter-spacing: 2px;
						padding-bottom: 1.4rem;
			
						button {
							padding: 0;
							font-size: inherit;
							font-family: inherit;
						}
					}
			
					.save {
						position: relative;
						z-index: 1;
						height: 2.5rem;
						margin-top: -1.5rem;
						font-weight: bold;
						font-size: 1.25rem;
						padding-bottom: 0.5rem;
						color: white;
						display: flex;
						justify-content: center;
						letter-spacing: 1px;
						align-items: center;
						filter: drop-shadow(0 1px 0 white);
						margin-bottom: 1px;
			
						button {
							padding: 0;
							font-size: inherit;
							font-family: inherit;
							color: inherit;
							font-weight: inherit;
						}
						.trained{
							color: gold;
						}
						&::before {
							content: '';
							position: absolute;
							top: 0;
							width: 2.5rem;
							height: 100%;
							left: calc(50% - 1.25rem);
							background: var(--color-primary-shade-1);
							clip-path: polygon(0% 10%, 10% 70%, 50% 100%, 90% 70%, 100% 10%, 50% 0%);
							z-index: -1;
						}
			
						&:hover::before {
							background: var(--color-secondary-base);
						}
					}
				}
			}
		}

		.panel--inventory,
		.panel--abilities {

			.panel__body {
				padding: 0;
			}
		}

		.panel--spellbook {

			.monster__properties {
				padding: 1rem;
			}

			.panel__body {
				padding: 0;
			}

			.current-slots {
				margin-left: 3px;
    		color: var(--color-primary-tint-2);
			}
		}

		.current-slots {
			position: relative;
			text-transform: none;

			&:hover {
				color: var(--color-secondary-base);
			}

			.input--slots {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				text-align: center;
				font-size: inherit;
				font-family: inherit;
				opacity: 0;
				background: var(--color-secondary-tint-5);
				border: none;
				border-radius: 0.5rem;
	
				&:focus {
					opacity: 1;
				}
			}
		}

		.panel--inventory {

			.monster__properties {
				padding: 1rem;

				&:not(:first-child) {
					margin-left: -1rem;
					margin-right: -1rem;
					margin-bottom: -1rem;
					padding: 1rem;
					margin-top: 1rem;
					background: var(--color-primary-tint-5);
				}
			}

			.currencies {
				background: var(--color-primary-tint-5);
				border-radius: 0.75rem;
				padding: 0.5rem;
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				column-gap: 0.25rem;

				.currency {
					background: white;
					border-radius: 0.5rem;
					padding: 0.25rem;
					text-align: center;
					min-height: 50px;
					display: flex;
					flex-direction: column;
					justify-content: center;

					.title {
						text-transform: uppercase;
						font-size: smaller;
						font-weight: bold;
						color: var(--color-primary-tone-1);
					}

					.value {
						font-size: 20px;
						font-family: 'Londrina Solid';
						position: relative;

						&:hover {
							color: var(--color-secondary-base);
						}
					}

					.input--currency {
						position: absolute;
						left: 0;
						top: 0;
						height: 100%;
						width: 100%;
						text-align: center;
						font-size: inherit;
						font-family: inherit;
						opacity: 0;
						background: var(--color-secondary-tint-5);
						border: none;
						border-radius: 0.5rem;
		
						&:focus {
							opacity: 1;
						}
					}
				}
			}

			.item__quantity,
			.item__weight,
			.item__price {
				position: relative;
			}

			.input--quantity,
			.input--weight,
			.input--price {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				text-align: center;
				font-size: inherit;
				font-family: inherit;
				opacity: 0;
				background: var(--color-secondary-tint-5);
				border: none;
				border-radius: 0.5rem;

				&:focus {
					opacity: 1;
				}
			}
		}
		
		.panel--biography {

			.panel__body {
				white-space: normal;
				word-break: break-word;

				> :first-child {
					margin-top: 0;
				}

				> :last-child {
					margin-bottom: 0;
				}
			}
		}
		
		.monster__properties {
			columns: 2;
			column-gap: 2rem;
			column-rule: 2px solid var(--color-primary-tint-4);

			.monster__property {
				display: flex;
				margin-bottom: 0.125rem;

				&:last-child {
					margin-bottom: 0;
				}

				.property__body {
					flex-grow: 1;
					display: flex;
					justify-content: space-between;
				}
				
				.property__icon {
					color: var(--color-primary-tone-1);
					margin-right: 0.5rem;
				}

				.property__title {
					color: var(--color-primary-tone-1);
					font-weight: bold;
					flex-grow: 1;
					white-space: nowrap;
					flex-shrink: 0;
					display: flex;
					text-transform: uppercase;

					&::after {
						content: '';
						flex-grow: 1;
						border-bottom: 1px dotted var(--color-primary-tint-3);
						margin: 0 0.5rem;
						height: 13px;
						min-width: 0.5rem;
					}
				}

				.property__value {

					span:not(:last-child)::after {
						content: ', ';
					}
				}
			}

			.property--divider {

				+ .monster__property {
					margin-top: 1rem;
				}
			}

			.property--wide {
				column-span: all;

				.property__body {
					justify-content: flex-start;
				}

				.property__title {
					flex-grow: 0;
					width: calc(50% - 1rem);
				}
			}

			+ .item-collection {
				margin-top: 1rem;
			}
		}

		.button--text {
			background: none;
			border: none;
			box-shadow: none;
			margin: 0;
			border-radius: 0;
			cursor: pointer;

			&:hover {
				color: var(--color-secondary-base);

				i {
					color: var(--color-secondary-shade-1);
				}
			}
		}

	.item-list {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		padding: 0.75rem;
		row-gap: 0.5rem;
		
		.item {
			display: flex;
			position: relative;

			&:not(.expanded) {

				.item__details {
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					overflow: hidden;

					.secret {
						display: none;
					}
				}

				&.item--spell,
				&.item--loot {

					.item__description {
						display: none;
					}
				}
			}

			&.expanded {

				.item__name i {
					transform: rotate(90deg);
				}
			}

			&:hover {

				.item__actions {
					display: flex;
				}
			}

			.item__name {
				width: calc(100% - 4.5rem);
				display: block;

				i {
					margin-right: 3px;
					color: var(--color-primary-tint-2);
				}
			}

			.item__icon {
				width: 56px;
				margin-right: 0.5rem;
				flex-shrink: 0;
				border-radius: 1cm;
				overflow: hidden;
				margin-top: 0;
				margin-bottom: 0;
				align-self: flex-start;
				position: relative;
				z-index: 1;
				padding: 2px;
				background: white;
				margin-top: -2px;
				margin-bottom: -2px;
				margin-left: -2px;

				img {
					width: 100%;
					margin: 0;
					display: block;
					border: none;
					background: var(--color-primary-shade-3);
					border-radius: 1cm;
					border: 2px solid black;
				}

				button {
					display: none;
				}

				&:hover::after {
					content: "\f6cf";
					background: rgba(black, 0.5);
					color: white;
					height: calc(100% - 4px);
					width: calc(100% - 4px);
					border-radius: 1cm;
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					left: 2px;
					top: 2px;
					font-family: "Font Awesome 5 Free";
					-webkit-font-smoothing: antialiased;
					font-style: normal;
					font-size: 2.1rem;
					font-variant: normal;
					text-rendering: auto;
					line-height: 1;
					font-weight: 900;
					cursor: pointer;
				}
			}

			.item__title {
				display: block;
				padding: 0.25rem 0.5rem;
				background: linear-gradient(to right, var(--color-primary-tone-1), var(--color-primary-tint-1));
				color: white;
				margin-bottom: 4px;
				border-radius: 0.75rem;
				font-weight: 600;
				font-size: larger;
				margin-left: -2.5rem;
				padding-left: 2.5rem;
				white-space: nowrap;

				.item__title__body {
					width: calc(100% - 4.5rem);
					cursor: pointer;
					overflow: hidden;
					text-overflow: ellipsis;

					&:hover .item__name i {
						color: var(--color-secondary-base);
					}

					> * {
						display: inline;
					}
				}

				button {
					display: inline;
					width: auto;
					padding: 0;
					margin: 0;
					font-family: inherit;
					font-size: inherit;
					line-height: inherit;
				}
			}

			.item__cost {
				font-weight: bold;
				color: var(--color-primary-tint-3);
				font-size: smaller;
				margin-left: 3px;
			}

			.item__recharge {
				display: inline;
				font-weight: bold;
				color: var(--color-primary-tint-3);
				font-size: smaller;
				margin-left: 3px;

				button {
					font-weight: inherit;
					background: var(--color-primary-tint-5);
					color: var(--color-primary-shade-2);
					padding: 0 0.5rem;
					border-radius: 1rem;

					&:hover {
						background: var(--color-secondary-base);
						color: white;

						i {
							color: inherit;
						}
					}
				}
			}

			.item__uses {
				font-weight: bold;
				position: relative;
				display: inline-block;
				color: var(--color-primary-tint-3);
				font-size: smaller;
				margin-left: 3px;

				&:hover {
					color: var(--color-secondary-base);
				}

				.input--uses {
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 100%;
					text-align: center;
					font-size: inherit;
					font-family: inherit;
					opacity: 0;
					background: var(--color-secondary-tint-5);
					border: none;
					border-radius: 0.5rem;

					&:focus {
						opacity: 1;
					}
				}
			}

			.item__details {
				display: block;
			}

			.item__description {

				.secret {
					border: none;
					padding: 0.5rem 1rem;
					background: var(--color-primary-tint-6);
					border-radius: 0.75rem;
					margin: 0 0 0.5rem;
					font-size: small;
					line-height: 1.2;
					color: var(--color-primary-tone-3);
					font-style: italic;

					> :first-child {
						margin-top: 0;
					}

					> :last-child {
						margin-bottom: 0;
					}
				}

				> :first-child:not(.secret) {
					display: inline;
				}

				> .secret:first-child + * {
					display: inline;
				}

				> :first-child {
					margin-top: 0;
				}

				> :last-child {
					margin-bottom: 0;
				}
			}

			.item__actions {
				position: absolute;
				top: 2px;
				right: 2px;
				display: flex;

				button {
					background: none;
					color: var(--color-primary-base);
					height: 25px;
					width: 25px;
					text-align: center;
					padding: 0;
					margin: 0;
					border: none;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					border-radius: 1cm;
					font-size: 15px;

					&:hover {
						background: var(--color-secondary-base);
						color: white;
						box-shadow: none;
					}

					+ * {
						margin-left: 1px;
					}

					i {
						margin: 0;
					}
				}
			}

			.item__attack,
			.item__damage {

				span:not(.attack__title) {

					&:last-child::after {
						content: '.';
					}
					
					&:not(:last-child)::after {
						content: ',';
					}
				}
			}

			.item__attackdmg {

				+ * {
					margin-top: 0.5rem;
				}
			}

			.item__tags {
				margin: 0;
				padding: 0;
				list-style: none;
				display: flex;
				column-gap: 0.125rem;
				font-size: smaller;
				font-style: italic;
				line-height: 16px;
				justify-content: space-evenly;

				+ * {
					margin-top: 0.5rem;
				}

				li {
					display: inline-block;
					border: 1px solid var(--color-primary-tint-4);
					border-radius: 0.75rem;
					padding: 0 0.5rem;
					width: 100%;
					text-align: center;
					white-space: nowrap;

					strong {
						color: var(--color-primary-shade-1);
					}
				}
			}

			.item__body {
				position: relative;
				width: 100%;
			}
		}
	}

	.legendary__resources {
		display: grid;
		grid-template-columns: 4.5rem 4.5rem 1fr;
		grid-column-gap: 0.25rem;
		padding: 0.5rem;
		background: var(--color-primary-tint-5);
		border-radius: 0.75rem;

		> * {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.legendary__blurb {
			font-size: smaller;
			padding-left: 0.25rem;
			text-align: left;
			align-items: flex-start;
			font-style: italic;
			color: var(--color-primary-shade-2);

			.blurb__title {
				text-transform: uppercase;
				font-weight: bold;
				font-style: normal;
			}
		}
	
		.legendary--current {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			text-align: center;
			font-size: inherit;
			font-family: inherit;
			opacity: 0;
			background: var(--color-primary-tint-5);
			border: none;
			border-radius: 0.5rem;
	
			&:focus {
				opacity: 1;
			}
		}
	
		.legendary__current,
		.legendary__maximum {
			text-align: center;
			background: white;
			border-radius: 0.5rem;
			padding: 0.5rem 0.25rem;
		}
	
		.legendary__value {
			font-family: 'Londrina Solid';
			font-size: 1.5rem;
			line-height: 1.5rem;
			letter-spacing: 0.5px;
			position: relative;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
	
			i {
				margin-right: 0.25rem;
				color: var(--color-primary-shade-2);
			}
		}
	
		.legendary__current .legendary__value:hover {
			color: var(--color-secondary-base);
	
			i {
				color: var(--color-secondary-base);
			}
		}
	
		.legendary__description {
			margin-top: 0.25rem;
			font-size: smaller;
			font-weight: 600;
			color: var(--color-primary-tone-1);
		}

		&.resources--lair-actions { 
			grid-template-columns: 5rem 1fr;

			.legendary__value i {
				font-size: 0.9em;
			}
		}
	}
}
}