.gg5e-mm-blueprint {
	background: white;
	padding: 0.125rem;
	overflow: auto;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;

	::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background: var(--color-secondary-shade-2);
		border: none;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(to right, rgba(black, 0.2), transparent 5%);
		pointer-events: none;
	}

	.blueprint__header {
		background: black;
		color: white;
		padding: 0.5rem 1rem 1.5rem;
		border-radius: 1rem 1rem 0 0;
		flex-shrink: 0;
		display: flex;
		font-size: 2rem;
		text-align: center;
		font-family: 'Londrina Solid';
		align-items: center;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-top-left-radius: 0;
		border-bottom-right-radius: 0;
		background: var(--color-primary-shade-2);
		border-bottom: 2px solid var(--color-primary-shade-3);

		+ .blueprint__body {
			margin-top: 0;
		}	
	}

	.blueprint__icon {
		height: 3rem;
		width: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--color-primary-shade-4);
		border-radius: 0.75rem;
		margin-right: 1rem;
		font-size: 1.5rem;
	}

	.blueprint__title {
		flex-grow: 1;
		text-align: left;
	}

	.blueprint__options {
		display: flex;

		button {
			flex-shrink: 0;
			width: 2rem;
			height: 2rem;
			margin: 0;
			background: none;
			border: none;
			border-radius: 1rem;
			background: var(--color-primary-shade-1);
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&:hover,
			&:focus {
				background: var(--color-secondary-base);
				text-shadow: none;
				box-shadow: none;
			}

			i {
				margin: 0;
			}

			+ * {
				margin-left: 0.25rem;
			}
		}
	}

	.blueprint__body {
		background: white;
		margin-top: -1rem;
		border-radius: 1rem;
		padding: 1rem;
		overflow-y: overlay;
		flex-grow: 1;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0;
		background: var(--color-primary-tint-2);
	}

	.blueprint__form {

		.form-group {
			margin: 0;
			position: relative;
			align-items: normal;

			&:not(:last-child) {
				border-bottom: 1px solid var(--color-secondary-tint-3);
			}
		}

		.form-group__header {
			flex-shrink: 0;
			margin: 0;
			font-weight: bold;
			padding: 0.5rem 0.75rem;
			box-sizing: border-box;
			background: var(--color-secondary-tint-4);
			line-height: 1;
			min-height: 2rem;
			text-align: right;
			color: var(--color-secondary-shade-4);
			width: 8rem;
			flex: unset;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.form-group__body {
			min-height: 2rem;
			overflow: hidden;

			input,
			select {
				display: block;
				width: 100%;
				padding: 0 .75rem;
				line-height: 1;
				background-color: #fff;
				background-clip: padding-box;
				border: 0;
				border-radius: 0;
				margin: 0;
				height: 2rem;

				+ input,
				+ select {
					border-top: 1px solid var(--color-secondary-tint-3);
				}

				&:focus {
					outline: 2px solid white;
					box-shadow: none;
				}
			}

			select {
				padding-left: 0.5rem;
			}

			input[type="checkbox"] {
				height: 1.5rem;
				width: 1.5rem;
				margin-left: 0.5rem;
				margin-top: 0.25rem;

				&:hover {
					cursor: pointer;
				}

				&:focus {
					outline: none;
				}
			}

			.html-field {
				
				.editor-content {
					padding: 1rem;
					min-height: 4rem;
					white-space: normal;
					word-break: break-word;

					> :first-child {
						margin-top: 0;
					}

					> :last-child {
						margin-bottom: 0;
					}
				}

				.editor-edit {
					top: 1rem;
					right: 1rem;
					border-radius: 1rem;
					background: var(--color-secondary-base);
					border: none;
					color: white;
					font-size: 1rem;
					padding: 0;
					border: none;
					box-shadow: none;
					height: 2rem;
					width: 2rem;
					line-height: 2rem;
					text-align: center;
				}

				.tox {
					min-height: 15rem !important;

					.tox-toolbar__group {
						padding: 0;
					}

					.tox-tbtn {
						margin: 0;
						height: 30px;
						width: 30px;
						padding: 0;

						&:hover {
							background: var(--color-secondary-tint-3);
							cursor: pointer;
						}
					}

					.tox-tbtn[title="Formats"] {
						width: 90px;
					}
				}

				.tox-toolbar-overlord,
				.tox-toolbar__primary {
					background: none !important;
				}

				.tox-editor-header {
					background: var(--color-secondary-tint-5);
					padding: 0.25rem;
				}

				.tox-edit-area__iframe {
					padding: 1rem;
				}
			}

			.form-group__options {
				position: absolute;
				right: 0;
				top: 0;
				height: 2rem;
				display: flex;
				align-items: center;

				button {
					background: none;
					border: none;
					height: 2rem;
					width: 2rem;
					display: flex;
					justify-content: center;
					align-items: center;
					opacity: 0.25;

					i {
						margin: 0;
					}

					&:hover,
					&:focus {
						opacity: 1;
						color: white;
						box-shadow: none;
						cursor: pointer;
					}
				}
			}

			.checkboxes {
				padding: 0.5rem;
		
				.checkbox {
					display: inline-flex;
					width: 100%;
					font-size: inherit;
					height: auto;
					align-items: flex-start;
					padding: 0;
					line-height: 1rem;
		
					&:hover {
						cursor: pointer;
					}
					
					input {
						margin: 0;
						top: 0;
						display: inline-block;
						margin-right: 0.25rem;
						height: 1rem;
						width: 1rem;
					}
		
					&:not(:last-child) {
						margin-bottom: 0.25rem;
					}
				}
			}
		}

		.form-fieldset {

			.form-fieldset__header {
				border-right: none;
				text-align: left;
				text-transform: uppercase;
				padding: 0 1rem 0 2rem;
				background: var(--color-secondary-tint-3);
				min-height: auto;
				line-height: 2rem;
				border-bottom: 1px solid var(--color-secondary-tint-3);
				position: relative;
				font-weight: bold;
				color: var(--color-secondary-shade-3);

				&::after {
					content: "\f07c";
					-webkit-font-smoothing: antialiased;
					font-family: "Font Awesome 5 Free";
					font-weight: 400;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					line-height: 1;
					position: absolute;
					left: 0.6rem;
					width: 0.8rem;
					height: 0.8rem;
					display: flex;
					justify-content: center;
					align-items: center;
					top: 0.6rem;
					color: var(--color-secondary-base);
					font-size: larger;
				}

				&:hover {
					color: white;
					cursor: pointer;
				}
			}

			&.closed .form-fieldset__header::after {
				content: "\f07b";
			}

			&:not(:first-child) {
				border-top: 1px solid var(--color-secondary-tint-2);
			}
		}

		.form-footer {
			background: var(--color-secondary-tint-5);
			text-align: right;
			padding: 0.5rem 0.25rem;

			button {
				background: var(--color-secondary-base);
				color: white;
				font-weight: bold;
				line-height: 1.5;
				padding: 0 1rem;
				border-radius: 1rem;
				cursor: pointer;
				border: none;
				width: auto;

				i {
					margin: 0;
				}

				&:hover {
					box-shadow: none;
					background: var(--color-secondary-shade-2);
				}
			}
		}
	}

	.button--help {
		width: 1rem;
		border: none;
		padding: 0;
		font-size: 10px;
		line-height: inherit;
		margin: 0;
		height: 1rem;
		background: var(--color-secondary-tint-3);
		color: white;
		border-radius: 1rem;
		text-align: center;
		margin-left: -0.25rem;
		float: left;
		margin-right: 0.5rem;
		flex-shrink: 0;

		&:hover {
			cursor: pointer;
			box-shadow: none;
			background: var(--color-secondary-base);
		}

		i {
			margin: 0;
		}
	}

	.accordion-section__body {
		padding: 0;
	}
}