.gmm-forge.forge--monster {

	.gmm-modal.modal--ability-check {

		.form-group--abilities {
			flex-direction: column;
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid var(--color-primary-tint-5);
	
			.form-group__header {
				width: 100%;
				text-align: center;
				margin-bottom: 0.75rem;
				padding-top: 0;
	
				span {
					display: flex;
					line-height: 1;
	
					&::before,
					&::after {
						content: '';
						height: 1px;
						width: 100%;
						background: var(--color-primary-tint-5);
						flex-grow: 1;
						position: relative;
						top: 9px;
					}
	
					&::before {
						margin-right: 0.5rem;
					}
	
					&::after {
						margin-left: 0.5rem;
					}
				}
			}
	
			.form-group__body {
				margin-left: 0;
				width: 100%;
			}
		}
	
		.abilities {
			grid-template-columns: repeat(6, 1fr);
			grid-column-gap: 1px !important;
	
			.ability {
				text-transform: uppercase;
	
				> span {
					padding: 0.5rem 0.25rem;
				}
	
				&:hover .ability__name,
				input:checked ~ span .ability__name {
					color: white;
				}
			}
	
			.ability__name,
			.ability__value {
				display: block;
				line-height: 1;
			}
	
			.ability__value {
				font-size: 28px;
				letter-spacing: 1px;
				font-family: 'Londrina Solid';
			}
	
			.ability__name {
				font-size: 14px;
				text-transform: uppercase;
				margin-bottom: 0.5rem;
				font-weight: bold;
				color: var(--color-primary-tint-1);
			}
		}
	
		.modal__footer {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 0.25rem;
			grid-row-gap: 0.5rem;
	
			button {
				margin: 0;
	
				&:first-child {
					grid-column: 1 / span 2;
				}
			}
		}
	}

	.gmm-modal.modal--bugs {

		.modal__body {
			text-align: center;
		}

		.github {
			width: 100%;
			text-align: center;
			background: var(--color-patreon);
			color: white;
			margin: 1rem auto 0;
			display: block;
			border-radius: 0.75rem;
			padding: 0.5rem 1rem;
			overflow: hidden;
			text-overflow: ellipsis;
			box-shadow: 0 2px 0 0 darken(#ff424d, 30%);

			&:hover {
				background: darken(#ff424d, 20%);
				box-shadow: 0 2px 0 0 darken(#ff424d, 40%);
				text-decoration: none;
			}
		}
	}

	.gmm-modal.modal--about {

		.intro {
			text-align: center;
		}
	
		.contact_links {
			margin: 1rem -1rem 0;
			padding: 1rem 1rem 0;
			border-top: 1px dotted var(--color-primary-tint-4);
			text-align: center;
			list-style: none;
			display: grid;
			grid-template-columns: repeat(5, auto) 1fr;
			grid-column-gap: 3px;
	
			a {
				height: 2.4rem;
				border-radius: 0.75rem;
				display: flex;
				justify-content: center;
				align-items: center;
				background: white;
				color: black;
				box-shadow: 0 2px 0 0 var(--color-primary-tint-4);
	
				&:hover {
					text-shadow: none;
					text-decoration: none;
					color: white;
					box-shadow: 0 2px 0 0 var(--color-primary-tint-3);
				}
			}
	
			.twitch,
			.discord,
			.reddit,
			.twitter,
			.facebook,
			.youtube {
				width: 2.4rem;
				font-size: 1.5rem;
			}
	
			.website {
				text-transform: uppercase;
				color: var(--color-website);
	
				&:hover {
					background: var(--color-website);
					border-color: var(--color-website);
				}
			};
	
			.twitch {
				color: var(--color-twitch);
	
				&:hover {
					background: var(--color-twitch);
					border-color: var(--color-twitch);
				}
			}
	
			.discord {
				color: var(--color-discord);
	
				&:hover {
					background: var(--color-discord);
					border-color: var(--color-discord);
				}
			}
	
			.reddit {
				color: var(--color-reddit);
	
				&:hover {
					background: var(--color-reddit);
					border-color: var(--color-reddit);
				}
			}
	
			.twitter {
				color: var(--color-twitter);
	
				&:hover {
					background: var(--color-twitter);
					border-color: var(--color-twitter);
				}
			}
	
			.facebook {
				color: var(--color-facebook);
	
				&:hover {
					background: var(--color-facebook);
					border-color: var(--color-facebook);
				}
			}
	
			.youtube {
				color: var(--color-youtube);
	
				&:hover {
					background: var(--color-youtube);
					border-color: var(--color-youtube);
				}
			}
		}
	
		.support {
			padding: 1rem;
			background: var(--color-primary-tint-5);
			margin: 2rem -1rem -1rem;
			border-radius: 1rem;
			text-align: center;
			overflow: hidden;
		}
	
		.support__title {
			text-transform: uppercase;
			font-weight: bold;
		}
	
		.support__links {
			list-style: none;
			margin-top: 1rem;
			padding-left: 0;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 2px;
	
			a {
				width: 100%;
				background: var(--color-patreon);
				color: white;
				margin: 0 auto;
				display: block;
				border-radius: 0.75rem;
				padding: 0.5rem 1rem;
				overflow: hidden;
				text-overflow: ellipsis;
				box-shadow: 0 2px 0 0 darken(#ff424d, 30%);
	
				&:hover {
					background: darken(#ff424d, 20%);
					box-shadow: 0 2px 0 0 darken(#ff424d, 40%);
					text-decoration: none;
				}
			}
		}
	}

	.gmm-modal.modal--basic-attack-ac {

		.modal__footer {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 0.25rem;
			grid-row-gap: 0.5rem;
	
			button {
				margin: 0;
	
				&:first-child {
					grid-column: 1 / span 2;
				}
			}
		}
	}

	.gmm-modal.modal--basic-attack-save {

		.attacks {
			grid-template-columns: repeat(2, 1fr);
	
			.attack > span {
				padding: 0.5rem;
			}
	
			.attack__title,
			.attack__dc {
				display: block;
				line-height: 1;
			}
	
			.attack__dc {
				font-size: larger;
				font-weight: bold;
			}
	
			.attack__title {
				font-size: 12px;
				text-transform: uppercase;
				margin-top: 0.25rem;
			}
		}
	
		.defences {
			grid-template-columns: repeat(6, 1fr);
	
			.defence {
				text-transform: uppercase;
				font-size: smaller;
				font-weight: bold;
	
				> span {
					padding: 0.25rem;
				}
			}
		}
	}

	.gmm-modal.modal--basic-damage {

		.damages {
			grid-template-columns: repeat(2, 1fr);
	
			.damage > span {
				padding: 0.5rem;
			}
	
			.damage__title,
			.damage__value {
				display: block;
				line-height: 1;
			}
	
			.damage__value {
				font-size: larger;
				font-weight: bold;
			}
	
			.damage__title {
				font-size: 12px;
				text-transform: uppercase;
				margin-top: 0.25rem;
			}
		}
	}

	.gmm-modal.modal--saving-throw {

		.form-group--saves {
			flex-direction: column;
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid var(--color-primary-tint-5);
	
			.form-group__header {
				width: 100%;
				text-align: center;
				margin-bottom: 0.75rem;
				padding-top: 0;
	
				span {
					display: flex;
					line-height: 1;
	
					&::before,
					&::after {
						content: '';
						height: 1px;
						width: 100%;
						background: var(--color-primary-tint-5);
						flex-grow: 1;
						position: relative;
						top: 9px;
					}
	
					&::before {
						margin-right: 0.5rem;
					}
	
					&::after {
						margin-left: 0.5rem;
					}
				}
			}
	
			.form-group__body {
				margin-left: 0;
				width: 100%;
			}
		}
	
		.saves {
			grid-template-columns: repeat(6, 1fr);
			grid-column-gap: 1px !important;
	
			.save {
				text-transform: uppercase;
	
				> span {
					padding: 0.5rem 0.25rem;
				}
	
				&:hover .save__name,
				input:checked ~ span .save__name {
					color: white;
				}
			}
	
			.save__name,
			.save__value {
				display: block;
				line-height: 1;
			}
	
			.save__value {
				font-size: 28px;
				letter-spacing: 1px;
				font-family: 'Londrina Solid';
			}
	
			.save__name {
				font-size: 14px;
				text-transform: uppercase;
				margin-bottom: 0.5rem;
				font-weight: bold;
				color: var(--color-primary-tint-1);
			}
		}
	
		.modal__footer {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 0.25rem;
			grid-row-gap: 0.5rem;
	
			button {
				margin: 0;
	
				&:first-child {
					grid-column: 1 / span 2;
				}
			}
		}
	}
}