.gmm-forge.forge--action {

	.gmm-modal {

		.modal__dialog {
			width: 28.5rem;
		}
	}

	.gmm-modal.modal--shortcodes {

		.gmm-accordion {
			filter: none;

			.accordion-section__body {
				padding: 0.5rem 0;
			}

			blockquote {
				text-align: center;
				background: var(--color-primary-tint-5);
				padding: 0.5rem 1rem;
				border-radius: 0.5rem;
				border: none;
				font-style: normal;
				font-size: 15px;
				margin: 0;

				p {
					margin: 0;
				}
			}
		}
	}

	.gmm-modal.modal--bugs {

		.modal__body {
			text-align: center;
		}

		.github {
			width: 100%;
			text-align: center;
			background: var(--color-patreon);
			color: white;
			margin: 1rem auto 0;
			display: block;
			border-radius: 0.75rem;
			padding: 0.5rem 1rem;
			overflow: hidden;
			text-overflow: ellipsis;
			box-shadow: 0 2px 0 0 darken(#ff424d, 30%);

			&:hover {
				background: darken(#ff424d, 20%);
				box-shadow: 0 2px 0 0 darken(#ff424d, 40%);
				text-decoration: none;
			}
		}
	}

	.gmm-modal.modal--about {

		.intro {
			text-align: center;
		}
	
		.contact_links {
			margin: 1rem -1rem 0;
			padding: 1rem 1rem 0;
			border-top: 1px dotted var(--color-primary-tint-4);
			text-align: center;
			list-style: none;
			display: grid;
			grid-template-columns: repeat(5, auto) 1fr;
			grid-column-gap: 3px;
	
			a {
				height: 2.4rem;
				border-radius: 0.75rem;
				display: flex;
				justify-content: center;
				align-items: center;
				background: white;
				color: black;
				box-shadow: 0 2px 0 0 var(--color-primary-tint-4);
	
				&:hover {
					text-shadow: none;
					text-decoration: none;
					color: white;
					box-shadow: 0 2px 0 0 var(--color-primary-tint-3);
				}
			}
	
			.twitch,
			.discord,
			.reddit,
			.twitter,
			.facebook,
			.youtube {
				width: 2.4rem;
				font-size: 1.5rem;
			}
	
			.website {
				text-transform: uppercase;
				color: var(--color-website);
	
				&:hover {
					background: var(--color-website);
					border-color: var(--color-website);
				}
			};
	
			.twitch {
				color: var(--color-twitch);
	
				&:hover {
					background: var(--color-twitch);
					border-color: var(--color-twitch);
				}
			}
	
			.discord {
				color: var(--color-discord);
	
				&:hover {
					background: var(--color-discord);
					border-color: var(--color-discord);
				}
			}
	
			.reddit {
				color: var(--color-reddit);
	
				&:hover {
					background: var(--color-reddit);
					border-color: var(--color-reddit);
				}
			}
	
			.twitter {
				color: var(--color-twitter);
	
				&:hover {
					background: var(--color-twitter);
					border-color: var(--color-twitter);
				}
			}
	
			.facebook {
				color: var(--color-facebook);
	
				&:hover {
					background: var(--color-facebook);
					border-color: var(--color-facebook);
				}
			}
	
			.youtube {
				color: var(--color-youtube);
	
				&:hover {
					background: var(--color-youtube);
					border-color: var(--color-youtube);
				}
			}
		}
	
		.support {
			padding: 1rem;
			background: var(--color-primary-tint-5);
			margin: 2rem -1rem -1rem;
			border-radius: 1rem;
			text-align: center;
			overflow: hidden;
		}
	
		.support__title {
			text-transform: uppercase;
			font-weight: bold;
		}
	
		.support__links {
			list-style: none;
			margin-top: 1rem;
			padding-left: 0;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 2px;
	
			a {
				width: 100%;
				background: var(--color-patreon);
				color: white;
				margin: 0 auto;
				display: block;
				border-radius: 0.75rem;
				padding: 0.5rem 1rem;
				overflow: hidden;
				text-overflow: ellipsis;
				box-shadow: 0 2px 0 0 darken(#ff424d, 30%);
	
				&:hover {
					background: darken(#ff424d, 20%);
					box-shadow: 0 2px 0 0 darken(#ff424d, 40%);
					text-decoration: none;
				}
			}
		}
	}
}