.gmm-modal {
	position: absolute;
	z-index: 4;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	font-size: larger;
	padding: 1rem;
	overflow-y: auto;

	&:not(.open) {
		display: none;
	}

	.modal__dialog {
		width: 30.5rem;
		filter: drop-shadow(0 0 20px black);
		border-radius: 0 0 1rem 1rem;
		overflow: hidden;
		flex-shrink: 0;
		margin: auto;
	}

	.modal__icon {
		height: 3.5rem;
		width: 3.5rem;
		background: var(--color-primary-base);
		border-radius: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto -2rem;
		position: relative;
		z-index: 1;
		color: white;
		font-size: 2rem;

		+ .modal__header {
			padding-top: 2rem;
		}
	}

	.modal__header {
		background: var(--color-primary-shade-2);
		border-top: 0.5rem solid var(--color-primary-base);
		color: white;
		text-align: center;
		padding: 1rem .5rem 3rem;
		text-align: center;
		font-size: 2rem;
		letter-spacing: 0.5px;
		position: relative;
		font-family: 'Londrina Solid';

		.modal__subtitle {
			font-size: 1.3rem;
		}


		.modal__close {
			background: none;
			border: none;
			padding: 0;
			margin: 0;
			color: var(--color-primary-shade-2);
			position: absolute;
			right: 0.5rem;
			top: 0.5rem;
			width: 1.4rem;
			height: 1.4rem;
			background: var(--color-primary-base);
			border-radius: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				cursor: pointer;
				background: var(--color-secondary-base);
				color: white;
				box-shadow: none;
			}

			i {
				margin: 0;
			}
		}

		+ .modal__body {
			margin-top: -2rem;
			border-top-left-radius: 2rem;
			border-top-right-radius: 2rem;
		}
	}

	.modal__body {
		background: white;
		position: relative;
		padding: 2rem;

		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}

		pre {
			white-space: normal;
			font-family: inherit;
			font-weight: bold;
			background: var(--color-primary-tint-5);
			padding: 0.75rem 1rem;

			&.text--center {
				text-align: center;
			}
		}

		hr {
			margin: 1rem 0;
			border-color: var(--color-primary-tint-4);
			border-bottom: none;
		}

		a {
			color: var(--color-primary-base);
			font-weight: 600;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
				text-shadow: none;
			}
		}
	}

	.modal__footer {
		background: var(--color-primary-tint-5);
		padding: 1rem 2rem calc(2rem + 3px);
		display: flex;
		justify-content: space-between;
		margin-top: -1rem;
		position: relative;

		.modal__button {
			background: var(--color-primary-base);
			color: white;
			border-radius: 0.75rem;
			text-align: center;
			font-weight: bold;
			padding: 0.5rem;
			margin: 0;
			flex-grow: 1;
			border: none;
			box-shadow: 0 3px 0 0 var(--color-primary-shade-3);
			font-size: large;
			font-family: inherit;

			+ * {
				margin-left: 0.25rem;
			}

			&:hover {
				cursor: pointer;
				background: var(--color-secondary-base);
				box-shadow: 0 3px 0 0 var(--color-secondary-shade-3);
				color: white;
			}
		}
	}

	.modal__form {

		.form-group {
			margin: 0;
			display: flex;
			flex-wrap: nowrap;

			> * {
				flex: 0 1 auto;
			}

			+ * {
				margin-top: 0.5rem;
			}
		}

		.form-group__header {
			margin: 0;
			font-weight: 600;
			margin-bottom: 0.25rem;
			width: 7rem;
			line-height: 2;
			margin: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			flex-shrink: 0;
			padding-top: 2px;
			align-self: flex-start;

			+ .form-group__body {
				margin-left: 1rem;
			}
		}

		.form-group__body {
			flex-grow: 1;

			input,
			select {
				background: none;
				border: 2px solid var(--color-primary-tint-4);
				border-radius: 0.75rem;
				display: block;
				width: 100%;
				padding: 0 .75rem;
				line-height: 1;
				margin: 0;
				height: 2.25rem;
				font-family: inherit;
				font-size: 1rem !important;

				&::placeholder {
					color: var(--color-primary-tint-4);
				}

				&:focus {
					box-shadow: none;
					border-color: var(--color-primary-tint-1);
				}
			}

			input:disabled,
			select:disabled,
			input:read-only {
				background: var(--color-primary-tint-5);
				border-color: var(--color-primary-tint-4);
			}

			select {
				padding-left: 0.5rem;
				font-size: inherit;
			}

			.radios--grid {
				display: grid;
				grid-column-gap: 2px;
				grid-row-gap: 2px;

				.radio {
					display: flex;
					text-align: center;
					overflow: hidden;
					align-items: center;

					> span {
						border: 2px solid var(--color-primary-tint-4);
						border-radius: 0.75rem;
						display: block;
						flex-grow: 1;
					}

					i {
						color: var(--color-primary-base);
					}

					input {
						display: none;

						&:checked ~ span {
							background: var(--color-primary-base);
							border-color: var(--color-primary-base);
							color: white;

							i {
								color: white;
							}
						}
					}

					&:hover {

						input ~ span {
							background: var(--color-secondary-base);
							border-color: var(--color-secondary-base);
							color: white;

							i {
								color: white;
							}
						}
					}
				}
			}

			.radio {
				display: flex;
				cursor: pointer;
				align-items: center;

				span {
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}

			input[type="radio"] {
				height: 1.5rem;
				width: 1.5rem;
				margin-top: -0.25rem;
				margin-right: 0.35rem;
				flex-shrink: 0;

				&:hover {
					cursor: pointer;
				}

				&:focus {
					outline: none;
				}
			}
		}
	}
}
