.gg5e-mm-monster {
	background: var(--color-primary-shade-2);
	border: 0.125rem solid white;
	padding: 1rem;
	color: white;
	overflow-y: overlay;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;

	::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background: var(--color-secondary-shade-2);
		border: none;
	}
}