.gg5e-mm-sheet {
	font-family: 'Source Sans Pro';
	display: flex;
	overflow: hidden;
	position: relative;

	&::before {
		content: '';
		background: black;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: 1.5rem;
	}

	&.open-modal {

		&::after,
		.sheet__sidepanel::after {
			content: '';
			position: absolute;
			left: 0.5rem;
			top: 0.5rem;
			height: calc(100% - 1rem);
			width: calc(100% - 1rem);
			background: rgba(black, 0.75);
		}

		&::after {
			z-index: 2;
		}

		.sheet__sidepanel::after {
			right: 0.5rem;
			left: auto;
			width: 100%;
			z-index: 0;
		}
	}

	.sheet__core {
		padding: 0.5rem;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}

	.sheet__body {
		flex-grow: 1;
		border-radius: 1rem;
		display: flex;
		overflow: hidden;
		position: relative;
	}

	.sheet__footer {
		margin-top: 0.5rem;
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	.sheet__sidepanel {
		position: absolute;
		top: 0;
		right: 0;
		overflow: hidden;
		height: 100%;
		width: 100%;
		background: black;
		padding: 0.5rem 0.5rem 0.5rem 0;
		border-radius: 0 1.5rem 1.5rem 0;
		display: flex;
	}

	.sheet__id {
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1;

		.id,
		.name {
			display: flex;
			align-items: center;

			&::before {
				content: '';
				background: white;
				width: 6px;
				display: inline-block;
				height: 6px;
				border-radius: 1rem;
				margin-right: 0.4rem;
			}
		}
	}

	.sheet__controls {
		display: flex;

		button {
			background: white;
			border: none;
			box-shadow: none;
			height: 2rem;
			width: 2rem;
			padding: 0;
			border-radius: 1rem;
			margin: 0;
			cursor: pointer;

			i {
				margin: 0;
			}

			+ * {
				margin-left: 0.25rem;
			}
		}
	}
}