.gmm-window {
	border-radius: 0 0 1.5rem 1.5rem;
	box-shadow: none;
	filter: drop-shadow(0px 0px 20px black);

	.window-header {
		border-bottom: none;
		white-space: nowrap;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		overflow: visible;

		&.resizable {
			
			~ .window-resizable-handle {
				background: white;
				color: black;
				border: none;
				box-shadow: none;
				height: 2rem;
				width: 2rem;
				padding: 0;
				border-radius: 1rem;
				margin: 0;
				cursor: pointer;
				bottom: 0.25rem;
				right: 0.25rem;
				display: flex;
				z-index: 2;

				i {
					margin: auto;
				}
			}

			~ .window-content > .gmm-forge .forge__controls {
				padding-right: 2.25rem;
			}
		}
	}

	&.minimized {
		border-radius: 0;
		height: 30px !important;

		.window-header {
			border: none;

			&.resizable ~ .window-resizable-handle {
				display: none;
			}
		}
	}

	.window-content {
		background: none;
		padding: 0;
		border-radius: 1rem;
		overflow: visible;
		height: 0;
	}
}