.gg5e-sheet .monster {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background: $sheet--header--bg;
    flex-grow: 1;
    overflow: hidden;

    .monster__header {
        background: $sheet--header--bg;
        color: white;
        display: grid;
        grid-template-columns: 3.8rem 1fr auto;
        grid-column-gap: 0.5rem;
        padding: 1rem;
        border-radius: 0.75rem 0.75rem 0 0;

        .monster__image {
            grid-row: 1 / span 2;

            img {
                background: black;
                border-radius: 0.25rem;
                border: 0;
                display: block;
            }
        }

        .monster__name {
            font-size: 2.5rem;
            letter-spacing: 0.5px;
            font-family: 'Londrina Solid';
            padding-bottom: 0.25rem;
        }

        .monster__tags {
            grid-row: 2;
            grid-column: 2;
            font-weight: 600;
            font-size: larger;
        }

        .monster__name,
        .monster__tags {
            line-height: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .monster__level {
            grid-row: 1 / span 2;
            grid-column: 3;
            background: darken($sheet--header--bg, 20%);
            margin: -1rem 0rem -2rem 0;
            padding: 0.5rem;
            text-align: center;
            border-radius: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            clip-path: polygon(0% 0%, 0% 100%, 50% 85%, 100% 100%, 100% 0%);
            z-index: 3;
            line-height: 1.2;
            font-size: larger;
            font-weight: 600;
            padding-bottom: 1.25rem;
        }

        &:not(:last-child) {
            padding-bottom: 2rem;

            + * {
                margin-top: -1rem;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }
        }
    }

    .monster__blocks {
        display: grid;
        grid-template-columns: repeat(8 , 1fr);
        grid-column-gap: 0.25rem;
        padding-top: 0.5rem;

        .monster__block {
            background: white;
            border-radius: 0.75rem;
            text-align: center;
            padding: 1.25rem 0.5rem 0.5rem;
            position: relative;

            .block__header {
                text-transform: uppercase;
                color: $sheet--header--bg;
                font-weight: bold;
                margin-bottom: 0.25rem;
                position: relative;

                i {
                    position: absolute;
                    height: 1rem;
                    width: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: grey;
                    border-radius: 1rem;
                }
            }

            .block__icon {
                position: absolute;
                height: 2rem;
                width: 2rem;
                left: calc(50% - 1rem);
                background: $sheet--header--bg;
                top: -1rem;
                border-radius: 1rem;
                padding: 0.25rem;

                img {
                    border: none;
                    border-radius: 0;
                };
            }

            .block__body {
                font-family: 'Londrina Solid';
                font-size: 1.5rem;
                letter-spacing: 2px;
                position: relative;
            }

            &.hit-points {
                grid-column: 1 / span 3;
            }

            &.dcs {
                grid-column: 6 / span 2;
            }
        }
    }

    .monster__details {
        background: white;
        padding: 1rem;
        border-radius: 1rem;

        dl {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-column-gap: 1rem;
            grid-row-gap: 0.25rem;
            margin: 0;

            dt {
                text-transform: uppercase;
                font-weight: bold;
                color: $sheet--header--bg;
            }

            dd {
                padding: 0;
                margin: 0;
            }
        }

        .fa-fw {
            margin-right: 0.25rem;
        }
    }

    .monster__attributes {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 0.25rem;
        margin-bottom: 1.25rem;

        + dl {
            border-top: 1px dotted mix($sheet--header--bg, white, 50%);
            margin-left: -1rem;
            margin-right: -1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1rem;
        }

        .monster__attribute {
            background: mix($sheet--body--bg, white, 40%);
            border-radius: 0.75rem;
            text-align: center;
            padding: 0.5rem 0.25rem;

            .title {
                text-transform: uppercase;
                color: darken($sheet--header--bg, 10%);
                font-weight: bold;
                margin: -0.25rem -0.25rem 0.25rem;
            }

            .value {
                font-size: 1.5rem;
                font-weight: normal;
                font-family: 'Londrina Solid';
                letter-spacing: 2px;
            }

            .save {
                position: relative;
                z-index: 1;
                margin-bottom: -1rem;
                height: 2rem;
                margin-top: 0.25rem;
                font-weight: bold;
                font-size: larger;
                padding-top: 0.125rem;
                color: white;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 2rem;
                    height: 100%;
                    left: calc(50% - 1rem);
                    background: mix($sheet--header--bg, white, 90%);
                    clip-path: polygon(0% 10%, 10% 70%, 50% 100%, 90% 70%, 100% 10%, 50% 0%);
                    z-index: -1;
                }
            }
        }
    }

    .monster__trait {

        .title {
            display: inline;

            &:after {
                content: ':';
            }
        }

        .value,
        .value > :first-child {
            display: inline;
        }
    }

    .monster__action {

        .title {

            .tags {
                font-weight: normal;
                font-style: italic;

                &::before {
                    content: '(';
                }

                &::after {
                    content: ')';
                }
            }
        }        
    }

    .monster__trait,
    .monster__action {
        padding: 1rem;
        padding-left: 2rem;
        position: relative;

        &::before {
            content: '';
            background: $sheet--header--bg;
            position: absolute;
            left: 0.75rem;
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 1rem;
            top: 1.25rem;
        }

        .title {
            font-weight: bold;
        }

        + * {
            border-top: 1px dotted mix($sheet--header--bg, white, 50%);
        }

        &:not(:first-child) {
            padding-top: 0.5rem;

            &::before {
                top: 0.75rem;
            }
        }

        &:not(:last-child) {
            padding-bottom: 0.5rem;
        }

        &.common::before,
        &.uncommon::before,
        &.rare::before {
            clip-path: polygon(0% 0%, 0% 100%, 45% 100%, 45% 0%, 55% 0%, 55% 100%, 100% 100%, 100% 0%);
        }

        &.common {

            &::before {
                background: #23bd4b;
            }
        }

        &.uncommon {

            &::before {
                background: #d4ac19;
                transform: rotate(45deg);
            }
        }

        &.rare {

            &::before {
                background: #c51c1c;
                transform: rotate(90deg);
            }
        }
    }
}