<div class="gg5e-mm-panel panel--collapsible monster__abilities" id="panel-abilities">
	<input type="hidden" name="data.gg5e_mm.gui.data.panels.panel_abilities" value="{{data.gg5e_mm.gui.data.panels.panel_abilities}}"/>
	<div class="panel__header">{{localize 'gg5e_mm.monster.view.abilities.title'}}</div>
	<div class="panel__body">
		<div class="monster__modifiers">
			{{#each data.gg5e_mm.enums.abilities}}
				{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/components/monster_modifier.html"
					ability=.
					modifier=(lookup ../data.gg5e_mm.monster.data.ability_modifiers .)
					save=(lookup ../data.gg5e_mm.monster.data.saving_throws .)
				}}
			{{/each}}
		</div>
		<dl class="monster__attributes">
			{{#if data.gg5e_mm.monster.data.proficiency_bonus}}
				<dt>
					<span class="attribute__title">Proficiency Bonus</span>
					<span class="attribute__icon"><i class="fas fa-bolt fa-fw"></i></span>
				</dt>
				<dd>
					<span title="{{{parseSources data.gg5e_mm.monster.data.proficiency_bonus.sources}}}">{{numberFormat data.gg5e_mm.monster.data.proficiency_bonus.value sign=true}}</span>
				</dd>
			{{/if}}
			{{#if data.gg5e_mm.monster.data.skills}}
				<dt>
					<span class="attribute__title">Skills</span>
					<span class="attribute__icon"><i class="fas fa-lightbulb fa-fw"></i></span>
				</dt>
				<dd>
					{{#each data.gg5e_mm.monster.data.skills as | skill |}}
						<span title="{{{parseSources skill.sources}}}">{{skill.title}} {{numberFormat skill.value sign=true}}</span>
					{{/each}}
				</dd>
			{{/if}}
			{{#if data.gg5e_mm.monster.data.speeds}}
				<dt>
					<span class="attribute__title">Movement</span>
					<span class="attribute__icon"><i class="fas fa-shoe-prints fa-fw"></i></span>
				</dt>
				<dd>
					{{#each data.gg5e_mm.monster.data.speeds as | speed |}}
						<span>{{speed.title}} {{#if speed.value}}{{localize (concat 'gg5e_mm.monster.view.speeds.' speed.unit) distance=speed.value}}{{/if}}{{#if speed.detail}} ({{speed.detail}}){{/if}}</span>
					{{/each}}
				</dd>
			{{/if}}
			{{#if data.gg5e_mm.monster.data.damage_immunities}}
				<dt>
					<span class="attribute__title">Damage Immunities</span>
					<span class="attribute__icon"><i class="fas fa-star fa-fw"></i></span>
				</dt>
				<dd>
					{{#each data.gg5e_mm.monster.data.damage_immunities}}
						<span>{{this}}</span>
					{{/each}}
				</dd>
			{{/if}}
			{{#if data.gg5e_mm.monster.data.damage_resistances}}
				<dt>
					<span class="attribute__title">Damage Resistances</span>
					<span class="attribute__icon"><i class="fas fa-star-half-alt fa-fw"></i></span>
				</dt>
				<dd>
					{{#each data.gg5e_mm.monster.data.damage_resistances}}
						<span>{{this}}</span>
					{{/each}}
				</dd>
			{{/if}}
			{{#if data.gg5e_mm.monster.data.damage_vulnerabilities}}
				<dt>
					<span class="attribute__title">Damage Vulnerabilities</span>
					<span class="attribute__icon"><i class="far fa-star fa-fw"></i></span>
				</dt>
				<dd>
					{{#each data.gg5e_mm.monster.data.damage_vulnerabilities}}
						<span>{{this}}</span>
					{{/each}}
				</dd>
			{{/if}}
			{{#if data.gg5e_mm.monster.data.condition_immunities}}
				<dt>
					<span class="attribute__title">Condition Immunities</span>
					<span class="attribute__icon"><i class="fas fa-shield-alt fa-fw"></i></span>
				</dt>
				<dd>
					{{#each data.gg5e_mm.monster.data.condition_immunities}}
						<span>{{this}}</span>
					{{/each}}
				</dd>
			{{/if}}
			{{#if data.gg5e_mm.monster.data.senses}}
				<dt>
					<span class="attribute__title">Senses</span>
					<span class="attribute__icon"><i class="fas fa-eye fa-fw"></i></span>
				</dt>
				<dd>
					{{#each data.gg5e_mm.monster.data.senses as | sense |}}
						<span>{{sense.title}}{{#if sense.value}} {{localize (concat 'gg5e_mm.monster.view.senses.' sense.unit) distance=sense.value}}{{/if}}</span>
					{{/each}}
				</dd>
			{{/if}}
			{{#if data.gg5e_mm.monster.data.languages}}
				<dt>
					<span class="attribute__title">Languages</span>
					<span class="attribute__icon"><i class="fas fa-comment fa-fw"></i></span>
				</dt>
				<dd>
					{{#each data.gg5e_mm.monster.data.languages}}
						<span>{{this}}</span>
					{{/each}}
				</dd>
			{{/if}}
			{{#if data.gg5e_mm.monster.data.challenge_rating}}
				<dt>
					<span class="attribute__title">Challenge Rating</span>
					<span class="attribute__icon"><i class="fas fa-skull fa-fw"></i></span>
				</dt>
				<dd>
					<span title="{{{parseSources data.gg5e_mm.monster.data.challenge_rating.sources}}}">CR {{data.gg5e_mm.monster.data.challenge_rating.value}}</span>
					<span title="{{{parseSources data.gg5e_mm.monster.data.xp.sources}}}">{{numberFormat data.gg5e_mm.monster.data.xp.value}} XP</span>
				</dd>
			{{/if}}
		</dl>
	</div>
</div>