<div class="monster__name">{{data.gg5e_mm.monster.data.name}}</div>
<div class="monster__description">{{data.gg5e_mm.monster.data.description}}</div>
<div class="monster__image"><img src="{{data.gg5e_mm.monster.data.image}}"></div>
<div class="monster__combat">
	<div class="level">
		<i class="fas fa-crown"></i> {{data.gg5e_mm.monster.data.level}}
	</div>
	<div class="rank">
		<span class="stars">
			{{#repeat data.gg5e_mm.monster.data.rank.threat}}
				<i class="fas fa-star"></i>
			{{/repeat}}
		</span> {{data.gg5e_mm.monster.data.rank.name}}
	</div>
	{{#if data.gg5e_mm.monster.data.phase}}
		<div class="phase">
			<i class="fas fa-clock"></i> {{data.gg5e_mm.monster.data.phase}}
		</div>
	{{/if}}
	<div class="role">
		<i class="{{data.gg5e_mm.monster.data.role.icon}}"></i> {{data.gg5e_mm.monster.data.role.name}}
	</div>
</div>