<div class="gg5e-mm-panel panel--collapsible monster__legendary-actions" id="panel-legendary-actions">
	<div class="panel__header">{{localize 'gg5e_mm.monster.view.legendary_actions.title'}}</div>
	<div class="panel__body">
		<div class="legendary__blurb">
            {{localize 'gg5e_mm.monster.view.legendary_actions.blurb'}}
        </div>
        <div class="legendary__current">
            <div class="legendary__value">
                <input class="legendary--current" data-field="data.gg5e_mm.blueprint.data.legendary_actions.current" data-type="number"/>
                <i class="far fa-hourglass"></i> {{data.gg5e_mm.monster.data.legendary_actions.current}}
            </div>
            <div class="legendary__description">
                {{localize 'gg5e_mm.monster.view.legendary_actions.current'}}
            </div>
        </div>
        <div class="legendary__maximum">
            <div class="legendary__value">
                <i class="fas fa-hourglass"></i> {{data.gg5e_mm.monster.data.legendary_actions.maximum}}
            </div>
            <div class="legendary__description">
                {{localize 'gg5e_mm.monster.view.legendary_actions.maximum'}}
            </div>
        </div>
	</div>
</div>