<div class="gg5e-mm-panel panel--collapsible monster__legendary-resistances" id="panel-legendary-resistances">
	<div class="panel__header">{{localize 'gg5e_mm.monster.view.legendary_resistances.title'}}</div>
	<div class="panel__body">
		<div class="legendary__blurb">
            {{localize 'gg5e_mm.monster.view.legendary_resistances.blurb'}}
        </div>
        <div class="legendary__current">
            <div class="legendary__value">
                <input class="legendary--current" data-action="update-field" data-field="data.gg5e_mm.blueprint.data.legendary_resistances.current" data-type="number"/>
                <i class="far fa-star"></i> {{data.gg5e_mm.monster.data.legendary_resistances.current}}
            </div>
            <div class="legendary__description">
                {{localize 'gg5e_mm.monster.view.legendary_resistances.current'}}
            </div>
        </div>
        <div class="legendary__maximum">
            <div class="legendary__value">
                <i class="fas fa-star"></i> {{data.gg5e_mm.monster.data.legendary_resistances.maximum}}
            </div>
            <div class="legendary__description">
                {{localize 'gg5e_mm.monster.view.legendary_resistances.maximum'}}
            </div>
        </div>
	</div>
</div>