<div class="pane pane--view gg5e-mm-monster">
	<div class="pane__header monster__header">
		<div class="monster__name">{{data.gg5e_mm.monster.data.name}}</div>
		<div class="monster__description">{{data.gg5e_mm.monster.data.description}}</div>
		<div class="monster__image"><img src="{{data.gg5e_mm.monster.data.image}}"></div>
		<div class="monster__combat">
			<div class="level">
				<i class="fas fa-crown"></i> {{data.gg5e_mm.monster.data.level}}
			</div>
			<div class="rank">
				<span class="stars">
					{{#repeat data.gg5e_mm.monster.data.rank.threat}}
						<i class="fas fa-star"></i>
					{{/repeat}}
				</span> {{data.gg5e_mm.monster.data.rank.name}}
			</div>
			{{#if data.gg5e_mm.monster.data.phase}}
				<div class="phase">
					<i class="fas fa-clock"></i> {{data.gg5e_mm.monster.data.phase}}
				</div>
			{{/if}}
			<div class="role">
				<i class="{{data.gg5e_mm.monster.data.role.icon}}"></i> {{data.gg5e_mm.monster.data.role.name}}
			</div>
		</div>
	</div>
	<div class="pane__body monster__body" id="monster-body">
		<div class="monster__blocks">
			<div class="monster__blocks__row">
				<div class="gg5e-mm-block hit-points">
					<div class="block__title">{{localize 'gg5e_mm.monster.view.hit_points.title'}}</div>
					<div class="block__contents">
						<div class="block__content">
							<div class="block__value length-{{strlen data.gg5e_mm.monster.data.hit_points.temporary}}"><i class="far fa-heart"></i> {{data.gg5e_mm.monster.data.hit_points.temporary}}</div>
							<div class="block__description">{{localize 'gg5e_mm.monster.view.hit_points.temporary'}}</div>
						</div>
						<div class="block__content">
							<div class="block__value length-{{strlen data.gg5e_mm.monster.data.hit_points.current}}"><i class="fas fa-heart"></i> {{data.gg5e_mm.monster.data.hit_points.current}}</div>
							<div class="block__description">{{localize 'gg5e_mm.monster.view.hit_points.current'}}</div>
						</div>
						<div class="block__content">
							<div class="block__value length-{{strlen data.gg5e_mm.monster.data.hit_points.maximum.value}}" title="{{{parseSources data.gg5e_mm.monster.data.hit_points.maximum.sources}}}">
								<i class="fas fa-heartbeat"></i> {{data.gg5e_mm.monster.data.hit_points.maximum.value}}
							</div>
							<div class="block__description">{{localize 'gg5e_mm.monster.view.hit_points.maximum'}}</div>
						</div>
					</div>
				</div>
				<div class="gg5e-mm-block ac">
					<div class="block__title">{{localize 'gg5e_mm.monster.view.armor_class'}}</div>
					<div class="block__contents">
						<div class="block__content">
							<div class="block__value length-{{strlen data.gg5e_mm.monster.data.armor_class.value}}" title="{{{parseSources data.gg5e_mm.monster.data.armor_class.sources}}}">
								<i class="fas fa-shield-alt"></i> {{data.gg5e_mm.monster.data.armor_class.value}}
							</div>
							<div class="block__description">
								{{#if data.gg5e_mm.monster.data.armor_class.type}}
									{{data.gg5e_mm.monster.data.armor_class.type}}
								{{else}}
									AC
								{{/if}}
							</div>
						</div>
					</div>
				</div>
				<div class="gg5e-mm-block perception">
					<div class="block__title">{{localize 'gg5e_mm.monster.view.perception.title'}}</div>
					<div class="block__contents">
						<div class="block__content">
							<div class="block__value length-{{strlen data.gg5e_mm.monster.data.passive_perception.value}}" title="{{{parseSources data.gg5e_mm.monster.data.passive_perception.sources}}}">
								<i class="fas fa-eye"></i> {{data.gg5e_mm.monster.data.passive_perception.value}}
							</div>
							<div class="block__description">{{localize 'gg5e_mm.monster.view.perception.passive'}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="monster__blocks__row">
				<div class="gg5e-mm-block attack">
					<div class="block__title">{{localize 'gg5e_mm.monster.view.attack_bonus'}}</div>
					<div class="block__contents">
						<div class="block__content">
							<button class="block__value button--text length-{{strlen (numberFormat data.gg5e_mm.monster.data.attack_bonus.value sign=true)}}" title="{{{parseSources data.gg5e_mm.monster.data.attack_bonus.sources}}}" data-action="open-modal" data-modal="modal_basic_attack">
								<i class="fas fa-crosshairs"></i> {{numberFormat data.gg5e_mm.monster.data.attack_bonus.value sign=true}}
							</button>
							<div class="block__description">
								{{#if data.gg5e_mm.monster.data.attack_bonus.type}}
									{{data.gg5e_mm.monster.data.attack_bonus.type}}
								{{else}}
									vs. AC
								{{/if}}
							</div>
						</div>
					</div>
				</div>
				<div class="gg5e-mm-block attack-dcs">
					<div class="block__title">{{localize 'gg5e_mm.monster.view.attack_dcs.title'}}</div>
					<div class="block__contents">
						<div class="block__content">
							<div class="block__value length-{{strlen data.gg5e_mm.monster.data.attack_dcs.primary.value}}" title="{{{parseSources data.gg5e_mm.monster.data.attack_dcs.primary.sources}}}">
								<i class="fas fa-bullseye"></i> {{data.gg5e_mm.monster.data.attack_dcs.primary.value}}
							</div>
							<div class="block__description">
								{{#if data.gg5e_mm.monster.data.attack_dcs.primary.type}}
									{{data.gg5e_mm.monster.data.attack_dcs.primary.type}}
								{{else}}
									{{localize 'gg5e_mm.monster.view.attack_dcs.primary'}}
								{{/if}}
							</div>
						</div>
						<div class="block__content">
							<div class="block__value length-{{strlen data.gg5e_mm.monster.data.attack_dcs.secondary.value}}" title="{{{parseSources data.gg5e_mm.monster.data.attack_dcs.secondary.sources}}}">
								<i class="fas fa-bullseye"></i> {{data.gg5e_mm.monster.data.attack_dcs.secondary.value}}
							</div>
							<div class="block__description">
								{{#if data.gg5e_mm.monster.data.attack_dcs.secondary.type}}
									{{data.gg5e_mm.monster.data.attack_dcs.secondary.type}}
								{{else}}
									{{localize 'gg5e_mm.monster.view.attack_dcs.secondary'}}
								{{/if}}
							</div>
						</div>
					</div>
				</div>
				<div class="gg5e-mm-block damage">
					<div class="block__title">{{localize 'gg5e_mm.monster.view.damage'}}</div>
					<div class="block__contents">
						<div class="block__content static">
							<button class="block__value button--text length-{{strlen data.gg5e_mm.monster.data.damage_per_action.value}}" title="{{{parseSources data.gg5e_mm.monster.data.damage_per_action.sources}}}" data-action="open-modal" data-modal="modal_basic_static_damage">
								<i class="fas fa-fire"></i> {{data.gg5e_mm.monster.data.damage_per_action.value}}
							</button>
							{{#unless data.gg5e_mm.monster.data.damage_per_action.type}}
								<div class="block__description">Static</div>
							{{/unless}}
						</div>
						<div class="block__content random">
							<button class="block__value button--text length-{{strlen data.gg5e_mm.monster.data.damage_per_action.dice}}" data-action="open-modal" data-modal="modal_basic_random_damage">
								<i class="fas fa-dice"></i> <span class="roll">{{data.gg5e_mm.monster.data.damage_per_action.dice}}</span>
							</button>
							{{#unless data.gg5e_mm.monster.data.damage_per_action.type}}
								<div class="block__description">Random</div>
							{{/unless}}
						</div>
					</div>
					{{#if data.gg5e_mm.monster.data.damage_per_action.type}}
						<div class="block__footer">{{data.gg5e_mm.monster.data.damage_per_action.type}}</div>
					{{/if}}
				</div>
			</div>
		</div>
		<div class="gg5e-mm-panel panel--collapsible monster__abilities" id="panel-abilities">
			<input type="hidden" name="data.gg5e_mm.gui.data.panels.panel_abilities" value="{{data.gg5e_mm.gui.data.panels.panel_abilities}}"/>
			<div class="panel__header">{{localize 'gg5e_mm.monster.view.abilities.title'}}</div>
			<div class="panel__body">
				<div class="monster__modifiers">
					<div class="monster__modifier">
						<div class="title">{{localize 'gg5e_mm.monster.common.ability.str.code'}}</div>
						<div class="value" title="{{{parseSources data.gg5e_mm.monster.data.ability_modifiers.str.sources}}}">
							{{numberFormat data.gg5e_mm.monster.data.ability_modifiers.str.value sign=true}}
						</div>
						<div class="save" title="{{{parseSources data.gg5e_mm.monster.data.saving_throws.str.sources}}}">
							{{numberFormat data.gg5e_mm.monster.data.saving_throws.str.value sign=true}}
						</div>
					</div>
					<div class="monster__modifier">
						<div class="title">{{localize 'gg5e_mm.monster.common.ability.dex.code'}}</div>
						<div class="value" title="{{{parseSources data.gg5e_mm.monster.data.ability_modifiers.dex.sources}}}">
							{{numberFormat data.gg5e_mm.monster.data.ability_modifiers.dex.value sign=true}}
						</div>
						<div class="save" title="{{{parseSources data.gg5e_mm.monster.data.saving_throws.dex.sources}}}">
							{{numberFormat data.gg5e_mm.monster.data.saving_throws.dex.value sign=true}}
						</div>
					</div>
					<div class="monster__modifier">
						<div class="title">{{localize 'gg5e_mm.monster.common.ability.con.code'}}</div>
						<div class="value" title="{{{parseSources data.gg5e_mm.monster.data.ability_modifiers.con.sources}}}">
							{{numberFormat data.gg5e_mm.monster.data.ability_modifiers.con.value sign=true}}
						</div>
						<div class="save" title="{{{parseSources data.gg5e_mm.monster.data.saving_throws.con.sources}}}">
							{{numberFormat data.gg5e_mm.monster.data.saving_throws.con.value sign=true}}
						</div>
					</div>
					<div class="monster__modifier">
						<div class="title">{{localize 'gg5e_mm.monster.common.ability.int.code'}}</div>
						<div class="value" title="{{{parseSources data.gg5e_mm.monster.data.ability_modifiers.int.sources}}}">
							{{numberFormat data.gg5e_mm.monster.data.ability_modifiers.int.value sign=true}}
						</div>
						<div class="save" title="{{{parseSources data.gg5e_mm.monster.data.saving_throws.int.sources}}}">
							{{numberFormat data.gg5e_mm.monster.data.saving_throws.int.value sign=true}}
						</div>
					</div>
					<div class="monster__modifier">
						<div class="title">{{localize 'gg5e_mm.monster.common.ability.wis.code'}}</div>
						<div class="value" title="{{{parseSources data.gg5e_mm.monster.data.ability_modifiers.wis.sources}}}">
							{{numberFormat data.gg5e_mm.monster.data.ability_modifiers.wis.value sign=true}}
						</div>
						<div class="save" title="{{{parseSources data.gg5e_mm.monster.data.saving_throws.wis.sources}}}">
							{{numberFormat data.gg5e_mm.monster.data.saving_throws.wis.value sign=true}}
						</div>
					</div>
					<div class="monster__modifier">
						<div class="title">{{localize 'gg5e_mm.monster.common.ability.cha.code'}}</div>
						<div class="value" title="{{{parseSources data.gg5e_mm.monster.data.ability_modifiers.cha.sources}}}">
							{{numberFormat data.gg5e_mm.monster.data.ability_modifiers.cha.value sign=true}}
						</div>
						<div class="save" title="{{{parseSources data.gg5e_mm.monster.data.saving_throws.cha.sources}}}">
							{{numberFormat data.gg5e_mm.monster.data.saving_throws.cha.value sign=true}}
						</div>
					</div>
				</div>
				<dl class="monster__attributes">
					{{#if data.gg5e_mm.monster.data.proficiency_bonus}}
						<dt>
							<span class="attribute__title">Proficiency Bonus</span>
							<span class="attribute__icon"><i class="fas fa-bolt fa-fw"></i></span>
						</dt>
						<dd>
							<span title="{{{parseSources data.gg5e_mm.monster.data.proficiency_bonus.sources}}}">{{numberFormat data.gg5e_mm.monster.data.proficiency_bonus.value sign=true}}</span>
						</dd>
					{{/if}}
					{{#if data.gg5e_mm.monster.data.skills}}
						<dt>
							<span class="attribute__title">Skills</span>
							<span class="attribute__icon"><i class="fas fa-lightbulb fa-fw"></i></span>
						</dt>
						<dd>
							{{#each data.gg5e_mm.monster.data.skills as | skill |}}
								<span title="{{{parseSources skill.sources}}}">{{skill.title}} {{numberFormat skill.value sign=true}}</span>
							{{/each}}
						</dd>
					{{/if}}
					{{#if data.gg5e_mm.monster.data.speeds}}
						<dt>
							<span class="attribute__title">Movement</span>
							<span class="attribute__icon"><i class="fas fa-shoe-prints fa-fw"></i></span>
						</dt>
						<dd>
							{{#each data.gg5e_mm.monster.data.speeds as | speed |}}
								<span>{{speed.title}} {{#if speed.value}}{{localize (concat 'gg5e_mm.monster.view.speeds.' speed.unit) distance=speed.value}}{{/if}}{{#if speed.detail}} ({{speed.detail}}){{/if}}</span>
							{{/each}}
						</dd>
					{{/if}}
					{{#if data.gg5e_mm.monster.data.damage_immunities}}
						<dt>
							<span class="attribute__title">Damage Immunities</span>
							<span class="attribute__icon"><i class="fas fa-star fa-fw"></i></span>
						</dt>
						<dd>
							{{#each data.gg5e_mm.monster.data.damage_immunities}}
								<span>{{this}}</span>
							{{/each}}
						</dd>
					{{/if}}
					{{#if data.gg5e_mm.monster.data.damage_resistances}}
						<dt>
							<span class="attribute__title">Damage Resistances</span>
							<span class="attribute__icon"><i class="fas fa-star-half-alt fa-fw"></i></span>
						</dt>
						<dd>
							{{#each data.gg5e_mm.monster.data.damage_resistances}}
								<span>{{this}}</span>
							{{/each}}
						</dd>
					{{/if}}
					{{#if data.gg5e_mm.monster.data.damage_vulnerabilities}}
						<dt>
							<span class="attribute__title">Damage Vulnerabilities</span>
							<span class="attribute__icon"><i class="far fa-star fa-fw"></i></span>
						</dt>
						<dd>
							{{#each data.gg5e_mm.monster.data.damage_vulnerabilities}}
								<span>{{this}}</span>
							{{/each}}
						</dd>
					{{/if}}
					{{#if data.gg5e_mm.monster.data.condition_immunities}}
						<dt>
							<span class="attribute__title">Condition Immunities</span>
							<span class="attribute__icon"><i class="fas fa-shield-alt fa-fw"></i></span>
						</dt>
						<dd>
							{{#each data.gg5e_mm.monster.data.condition_immunities}}
								<span>{{this}}</span>
							{{/each}}
						</dd>
					{{/if}}
					{{#if data.gg5e_mm.monster.data.senses}}
						<dt>
							<span class="attribute__title">Senses</span>
							<span class="attribute__icon"><i class="fas fa-eye fa-fw"></i></span>
						</dt>
						<dd>
							{{#each data.gg5e_mm.monster.data.senses as | sense |}}
								<span>{{sense.title}}{{#if sense.value}} {{localize (concat 'gg5e_mm.monster.view.senses.' sense.unit) distance=sense.value}}{{/if}}</span>
							{{/each}}
						</dd>
					{{/if}}
					{{#if data.gg5e_mm.monster.data.languages}}
						<dt>
							<span class="attribute__title">Languages</span>
							<span class="attribute__icon"><i class="fas fa-comment fa-fw"></i></span>
						</dt>
						<dd>
							{{#each data.gg5e_mm.monster.data.languages}}
								<span>{{this}}</span>
							{{/each}}
						</dd>
					{{/if}}
					{{#if data.gg5e_mm.monster.data.challenge_rating}}
						<dt>
							<span class="attribute__title">Challenge Rating</span>
							<span class="attribute__icon"><i class="fas fa-skull fa-fw"></i></span>
						</dt>
						<dd>
							<span title="{{{parseSources data.gg5e_mm.monster.data.challenge_rating.sources}}}">CR {{data.gg5e_mm.monster.data.challenge_rating.value}}</span>
							<span title="{{{parseSources data.gg5e_mm.monster.data.xp.sources}}}">{{numberFormat data.gg5e_mm.monster.data.xp.value}} XP</span>
						</dd>
					{{/if}}
				</dl>
			</div>
		</div>
	</div>
</div>