<div class="accordion-section" data-section="combat">
	<div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.combat.title'}}</div>
	<div class="accordion-section__body rank--{{data.gg5e_mm.blueprint.data.combat.rank.type}} role--{{data.gg5e_mm.blueprint.data.combat.role.type}}">
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.level'}}</span>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.combat.level" type="number" value="{{data.gg5e_mm.blueprint.data.combat.level}}" min="-5" max="50"/>
			</div>
		</div>
		<div class="form-fieldset fieldset-rank rank-{{data.gg5e_mm.blueprint.data.combat.rank.type}} {{#if data.gg5e_mm.blueprint.data.combat.rank.modifiers.scale_with_players}}scale-with-players{{/if}} {{#if data.gg5e_mm.blueprint.data.combat.rank.modifiers.has_phases}}show-phases{{/if}}">
			<div class="form-fieldset__header">{{localize 'gg5e_mm.monster.options.combat.rank'}}</div>
			<div class="form-fieldset__body">
				<div class="form-group type">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.type'}}</span>
					</div>
					<div class="form-group__body">
						<select name="data.gg5e_mm.blueprint.data.combat.rank.type">
							{{#select data.gg5e_mm.blueprint.data.combat.rank.type}}
								{{#each data.gg5e_mm.enums.ranks}}
									<option value="{{.}}">{{localize (concat 'gg5e_mm.monster.common.rank.' .)}}</option>
								{{/each}}
							{{/select}}
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.custom_name'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.rank.custom_name" value="{{data.gg5e_mm.blueprint.data.combat.rank.custom_name}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.hit_points'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.rank.modifiers.hit_points" type="number" value="{{data.gg5e_mm.blueprint.data.combat.rank.modifiers.hit_points}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.armor_class'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.rank.modifiers.armor_class" type="number" value="{{data.gg5e_mm.blueprint.data.combat.rank.modifiers.armor_class}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.saving_throws'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.rank.modifiers.saving_throws" type="number" value="{{data.gg5e_mm.blueprint.data.combat.rank.modifiers.saving_throws}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.attack_bonus'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.rank.modifiers.attack_bonus" type="number" value="{{data.gg5e_mm.blueprint.data.combat.rank.modifiers.attack_bonus}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.attack_dcs'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.rank.modifiers.attack_dcs" type="number" value="{{data.gg5e_mm.blueprint.data.combat.rank.modifiers.attack_dcs}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.damage_per_action'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.rank.modifiers.damage_per_action" type="number" value="{{data.gg5e_mm.blueprint.data.combat.rank.modifiers.damage_per_action}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.xp'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.rank.modifiers.xp" type="number" value="{{data.gg5e_mm.blueprint.data.combat.rank.modifiers.xp}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.threat'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.rank.modifiers.threat" type="number" min="1" value="{{data.gg5e_mm.blueprint.data.combat.rank.modifiers.threat}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.scale_with_players'}}</span>
					</div>
					<div class="form-group__body">
						<input type="checkbox" name="data.gg5e_mm.blueprint.data.combat.rank.modifiers.scale_with_players" {{#if data.gg5e_mm.blueprint.data.combat.rank.modifiers.scale_with_players}}checked{{/if}}/>
					</div>
				</div>
				<div class="form-group target-players">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.players'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.rank.modifiers.target_players" type="number" min="1" value="{{data.gg5e_mm.blueprint.data.combat.rank.modifiers.target_players}}"/>
					</div>
				</div>
				<div class="form-group paragon-actions">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.paragon_actions'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.rank.modifiers.paragon_actions" type="number" min="0" value="{{data.gg5e_mm.blueprint.data.combat.rank.modifiers.paragon_actions}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.has_phases'}}</span>
					</div>
					<div class="form-group__body">
						<input type="checkbox" name="data.gg5e_mm.blueprint.data.combat.rank.modifiers.has_phases" {{#if data.gg5e_mm.blueprint.data.combat.rank.modifiers.has_phases}}checked{{/if}}/>
					</div>
				</div>
				<div class="form-group phases">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.phase.title'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.rank.modifiers.phases.current" type="number" min="1" max="{{data.gg5e_mm.blueprint.data.combat.rank.modifiers.phases.maximum}}" value="{{data.gg5e_mm.blueprint.data.combat.rank.modifiers.phases.current}}"/>
						<span>{{localize 'gg5e_mm.monster.options.combat.phase.of'}}</span>
						<input name="data.gg5e_mm.blueprint.data.combat.rank.modifiers.phases.maximum" type="number" min="1" value="{{data.gg5e_mm.blueprint.data.combat.rank.modifiers.phases.maximum}}"/>
					</div>
				</div>
			</div>
		</div>
		<div class="form-fieldset fieldset-role role-{{data.gg5e_mm.blueprint.data.combat.role.type}}">
			<div class="form-fieldset__header">{{localize 'gg5e_mm.monster.options.combat.role'}}</div>
			<div class="form-fieldset__body">
				<div class="form-group type">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.type'}}</span>
					</div>
					<div class="form-group__body">
						<select name="data.gg5e_mm.blueprint.data.combat.role.type">
							{{#select data.gg5e_mm.blueprint.data.combat.role.type}}
								{{#each data.gg5e_mm.enums.roles}}
									<option value="{{.}}">{{localize (concat 'gg5e_mm.monster.common.role.' .)}}</option>
								{{/each}}
							{{/select}}
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.custom_name'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.role.custom_name" value="{{data.gg5e_mm.blueprint.data.combat.role.custom_name}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.hit_points'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.role.modifiers.hit_points" type="number" value="{{data.gg5e_mm.blueprint.data.combat.role.modifiers.hit_points}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.armor_class'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.role.modifiers.armor_class" type="number" value="{{data.gg5e_mm.blueprint.data.combat.role.modifiers.armor_class}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.saving_throws'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.role.modifiers.saving_throws" type="number" value="{{data.gg5e_mm.blueprint.data.combat.role.modifiers.saving_throws}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.attack_bonus'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.role.modifiers.attack_bonus" type="number" value="{{data.gg5e_mm.blueprint.data.combat.role.modifiers.attack_bonus}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.attack_dcs'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.role.modifiers.attack_dcs" type="number" value="{{data.gg5e_mm.blueprint.data.combat.role.modifiers.attack_dcs}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.damage_per_action'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.role.modifiers.damage_per_action" type="number" value="{{data.gg5e_mm.blueprint.data.combat.role.modifiers.damage_per_action}}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.combat.icon'}}</span>
					</div>
					<div class="form-group__body">
						<input name="data.gg5e_mm.blueprint.data.combat.role.modifiers.icon" value="{{data.gg5e_mm.blueprint.data.combat.role.modifiers.icon}}"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>