<div class="accordion-section" data-section="condition-immunities">
	<div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.condition_immunities.title'}}</div>
	<div class="accordion-section__body">
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.condition_immunities.options'}}</span>
			</div>
			<div class="form-group__body">
				<div class="checkboxes">
					{{#each data.gg5e_mm.enums.conditions}}
						{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/components/condition_immunity.html"
							condition=.
							isEnabled=(lookup ../data.gg5e_mm.blueprint.data.condition_immunities .)
						}}
					{{/each}}
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.condition_immunities.other'}}</span>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.condition_immunities.other" value="{{data.gg5e_mm.blueprint.data.condition_immunities.other}}"/>
			</div>
		</div>
	</div>
</div>