<div class="accordion-section" data-section="damage-per-action">
	<div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.damage.title'}}</div>
	<div class="accordion-section__body">
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.damage.type'}}</span>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.damage_per_action.type" value="{{data.gg5e_mm.blueprint.data.damage_per_action.type}}"/>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.damage.dice_size'}}</span>
			</div>
			<div class="form-group__body">
				<select name="data.gg5e_mm.blueprint.data.damage_per_action.die_size">
					{{#select data.gg5e_mm.blueprint.data.damage_per_action.die_size}}
						<option value="4">d4</option>
						<option value="6">d6</option>
						<option value="8">d8</option>
						<option value="10">d10</option>
						<option value="12">d12</option>
						<option value="20">d20</option>
						<option value="100">d100</option>
					{{/select}}
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.damage.maximum_dice'}}</span>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.damage_per_action.maximum_dice" type="number" placeholder="0" value="{{data.gg5e_mm.blueprint.data.damage_per_action.maximum_dice}}"/>
			</div>
		</div>
		<div class="form-group form-group--modifier">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.damage.modifier'}}</span>
				<button type="button" class="button button--help" data-action="open-modal" data-modal="modal_modifiers">
					<i class="fas fa-question"></i>
				</button>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.damage_per_action.modifier" type="number" value="{{data.gg5e_mm.blueprint.data.damage_per_action.modifier}}"/>
				<label class="checkbox">
					<input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_per_action.override" {{#if data.gg5e_mm.blueprint.data.damage_per_action.override}}checked{{/if}}/> {{localize 'gg5e_mm.monster.options.is_fixed'}}
				</label>
			</div>
		</div>
	</div>
</div>