<div class="accordion-section" data-section="display">
	<div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.display.title'}}</div>
	<div class="accordion-section__body">
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.display.skin'}}</span>
			</div>
			<div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.display.skin">
                    {{#select data.gg5e_mm.blueprint.data.display.skin}}
                        {{#each data.gg5e_mm.enums.skins as | skin |}}
                            <option value="{{skin.code}}">{{skin.name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
			</div>
		</div>
		<div class="form-fieldset">
			<div class="form-fieldset__header">{{localize 'gg5e_mm.monster.options.display.colors.title'}}</div>
			<div class="form-fieldset__body">
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.display.colors.primary'}}</span>
					</div>
					<div class="form-group__body">
						<select name="data.gg5e_mm.blueprint.data.display.color.primary">
							{{#select data.gg5e_mm.blueprint.data.display.color.primary}}
								{{#each data.gg5e_mm.enums.colors as | color |}}
									<option value="{{color.code}}">{{color.name}}</option>
								{{/each}}
							{{/select}}
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group__header">
						<span class="form-group__title">{{localize 'gg5e_mm.monster.options.display.colors.secondary'}}</span>
					</div>
					<div class="form-group__body">
						<select name="data.gg5e_mm.blueprint.data.display.color.secondary">
							{{#select data.gg5e_mm.blueprint.data.display.color.secondary}}
								{{#each data.gg5e_mm.enums.colors as | color |}}
									<option value="{{color.code}}">{{color.name}}</option>
								{{/each}}
							{{/select}}
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>