<div class="accordion-section" data-section="speed">
	<div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.speeds.title'}}</div>
	<div class="accordion-section__body">
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.common.speeds.walk'}}</span>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.speeds.walk" type="number" value="{{data.gg5e_mm.blueprint.data.speeds.walk}}"/>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.common.speeds.burrow'}}</span>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.speeds.burrow" type="number" value="{{data.gg5e_mm.blueprint.data.speeds.burrow}}"/>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.common.speeds.climb'}}</span>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.speeds.climb" type="number" value="{{data.gg5e_mm.blueprint.data.speeds.climb}}"/>
			</div>
		</div>
		<div class="form-group form-group--modifier">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.common.speeds.fly'}}</span>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.speeds.fly" type="number" value="{{data.gg5e_mm.blueprint.data.speeds.fly}}"/>
				<label class="checkbox">
					<input type="checkbox" name="data.gg5e_mm.blueprint.data.speeds.can_hover" {{#if data.gg5e_mm.blueprint.data.speeds.can_hover}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.speeds.can_hover'}}
				</label>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.common.speeds.swim'}}</span>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.speeds.swim" type="number" value="{{data.gg5e_mm.blueprint.data.speeds.swim}}"/>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.common.speeds.units.title'}}</span>
			</div>
			<div class="form-group__body">
				<select name="data.gg5e_mm.blueprint.data.speeds.units">
					{{#select data.gg5e_mm.blueprint.data.speeds.units}}
						{{#each data.gg5e_mm.enums.units}}
							<option value="{{.}}">{{localize (concat 'gg5e_mm.monster.common.speeds.units.' . '.name')}}</option>
						{{/each}}
					{{/select}}
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.common.speeds.other'}}</span>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.speeds.other" value="{{data.gg5e_mm.blueprint.data.speeds.other}}"/>
			</div>
		</div>
	</div>
</div>