.gg5e-mm-modal.modal--saving-throw {

    .form-group--saves {
        flex-direction: column;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--color-primary-tint-5);

        .form-group__header {
            width: 100%;
            text-align: center;
            margin-bottom: 0.75rem;
            padding-top: 0;

            span {
                display: flex;
                line-height: 1;

                &::before,
                &::after {
                    content: '';
                    height: 1px;
                    width: 100%;
                    background: var(--color-primary-tint-5);
                    flex-grow: 1;
                    position: relative;
                    top: 9px;
                }

                &::before {
                    margin-right: 0.5rem;
                }

                &::after {
                    margin-left: 0.5rem;
                }
            }
        }

        .form-group__body {
            margin-left: 0;
            width: 100%;
        }
    }

    .saves {
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 1px !important;

        .save {
            text-transform: uppercase;

            > span {
                padding: 0.5rem 0.25rem;
            }

            &:hover .save__name,
            input:checked ~ span .save__name {
                color: white;
            }
        }

        .save__name,
        .save__value {
            display: block;
            line-height: 1;
        }

        .save__value {
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 1px;
            font-family: 'Londrina Solid';
        }

        .save__name {
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 0.5rem;
            font-weight: bold;
            color: var(--color-primary-tint-1);
        }
    }

    .modal__footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0.25rem;
        grid-row-gap: 0.5rem;

        button {
            margin: 0;

            &:first-child {
                grid-column: 1 / span 2;
            }
        }
    }
}