.gg5e-mm-window--monster {
	width: 540px !important;

	.window-content {
		transition: margin 200ms ease-in-out;
	}

	.gg5e-mm-sheet::before,
	.sheet__core {
		width: 540px;
	}

	.gg5e-mm-sheet::after {
		width: calc(540px - 1rem);
	}

	.sheet__sidepanel {
		width: calc(440px + 0.5rem - 1px);
		top: 3.575rem;
		height: calc(100% - 8rem);

		.gg5e-mm-blueprint {
			padding-left: 0;
			border-radius: 0 1rem 1rem 0;
		}
	}

	&.expanded {

		.window-content {
			margin-right: -440px;
		}
	}
}