.window-gg5e-mm {
    border-radius: 0 0 1rem 1rem;
    width: 540px !important;

    .window-header {
        border-bottom: none;
    }

    .window-content {
        background: none;
        padding: 0;
        border-radius: 1rem;
    }
}