.gg5e-mm-window--monster {
	width: 560px !important;

	.window-content {
		transition: margin 100ms ease-out;
	}

	.gg5e-mm-sheet::before,
	.sheet__core {
		width: 560px;
	}

	.gg5e-mm-sheet::after {
		width: calc(560px - 1rem);
	}

	.sheet__sidepanel {
		width: calc(405px + 0.5rem - 1px);
		top: 57px;
		height: calc(100% - 7rem);

		.gg5e-mm-blueprint {
			padding-left: 0;
			border-radius: 0 1rem 1rem 0;
		}
	}

	&.expanded {

		.window-content {
			margin-right: -405px;
		}
	}
}