<div class="item item--spell" data-item-id="{{item.id}}" draggable="true">
    <div class="item__icon">
        {{#if item.img}}
            <img src="{{item.img}}"/>
        {{/if}}
        <button data-action="roll-item"><i class="fas fa-dice-d20"></i></button>
    </div>
    <div class="item__body">
        <div class="item__title">
            <div class="item__name" data-action="roll-item">{{item.name}}</div>
        </div>
        <div class="item__components">{{item.labels.components}}</div>
        <div class="item__target">{{item.labels.target}}</div>
        <div class="item__activation">{{#if item.labels.activation}}{{item.labels.activation}}{{/if}}</div>
        <div class="item__actions">
            <button data-action="roll-item"><i class="fas fa-fw fa-comments"></i></button>
            <button data-action="edit-item"><i class="fas fa-fw fa-edit"></i></button>
            <button data-action="delete-item"><i class="fas fa-fw fa-trash"></i></button>
        </div>
    </div>
</div>