<div class="gg5e-mm-sheet color--primary-{{data.gg5e_mm.blueprint.data.display.color.primary}} color--secondary-{{data.gg5e_mm.blueprint.data.display.color.secondary}} {{cssClass}}">
	<div class="sheet__core">
		<div class="sheet__body">
			{{#> (concat 'modules/giffyglyphs-5e-monster-maker/templates/partials/monster/views/' data.gg5e_mm.blueprint.data.display.skin '/' data.gg5e_mm.blueprint.data.display.skin '.html') }}
				<div class="sheet__error">
					<div class="error__icon"><i class="fas fa-skull-crossbones"></i></div>
					<div class="error__advice">{{localize 'gg5e_mm.monster.errors.invalid_monster'}}</div>
				</div>
			{{/undefined}}
		</div>
		<div class="sheet__footer">
			<div class="sheet__id">
				<span class="id">{{actor._id}}</span>
				<span class="name">Giffyglyph's 5e Monster Maker</span>
			</div>
			<nav class="sheet__controls" data-group="primary">
				<button type="button" data-action="open-modal" data-modal="modal_about"><i class="fas fa-question"></i></button>
				<button type="button" data-action="expand-window"><i class="fas fa-cogs"></i></button>
			</nav>
		</div>
	</div>
	<div class="sheet__sidepanel">
		<div class="gg5e-mm-blueprint blueprint--monster">
			<div class="blueprint__header">
				<div class="blueprint__icon"><i class="fas fa-cogs"></i></div>
				<div class="blueprint__title">{{localize 'gg5e_mm.monster.options.title'}}</div>
				<div class="blueprint__options">
					<button type="button" data-action="close-accordion" data-accordion="monster-configuration">
						<i class="fas fa-bars"></i>
					</button>
					<button type="button" data-action="expand-window"><i class="fas fa-times"></i></button>
				</div>
			</div>
			<div class="blueprint__body" data-track-scrollbars="true" id="options-body">
				<form class="blueprint__form" autocomplete="off">
					<div class="gg5e-mm-accordion" id="monster-configuration">
						<div class="accordion-group">
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/description.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/combat.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/display.html" }}
						</div>
						<div class="accordion-group">
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/abilities.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/armor_class.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/attack_bonus.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/attack_dcs.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/biography.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/cr.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/condition_immunities.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/damage.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/damage_immunities.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/damage_resistances.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/damage_vulnerabilities.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/hit_points.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/initiative.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/lair_actions.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/languages.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/legendary_actions.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/legendary_resistances.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/paragon_actions.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/perception.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/proficiency.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/saving_throws.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/senses.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/skills.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/speeds.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/xp.html" }}
						</div>
						<div class="accordion-group">
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/legacy_items.html" }}
							{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/blueprints/legacy_spells.html" }}
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="sheet__modals">
		{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/modals/about.html" }}
		{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/modals/ability_check.html" }}
		{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/modals/basic_attack_ac.html" }}
		{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/modals/basic_attack_save.html" }}
		{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/modals/basic_damage.html" }}
		{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/modals/modifiers.html" }}
		{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/modals/modifying_abilities.html" }}
		{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/modals/ranked_abilities.html" }}
		{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/modals/saving_throw.html" }}
		{{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/modals/tags.html" }}
	</div>
</div>
