<div class="gg5e-mm-sheet {{cssClass}}">
    <div class="sheet__body">
        <form class="gg5e-mm-panes" autocomplete="off">
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster_view.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster_options.html" }}
        </form>
    </div>
    <div class="sheet__footer">
        <div class="sheet__id">
            <span class="id">{{actor._id}}</span>
            <span class="name">Giffyglyph's 5e Monster Maker</span>
        </div>
        <nav class="sheet__controls" data-group="primary">
            <button type="button" class="toggle-mode--edit"><i class="fas fa-cogs"></i></button>
        </nav>
    </div>
    <div class="sheet__modals">
        {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster_modals.html" }}
    </div>
</div>
