.monster--vanity {
	padding: 0;
	overflow: hidden;

	.monster__header {
		background: black;
		color: white;
		padding: 0.5rem 1rem 1.5rem;
		border-radius: 1rem 1rem 0 0;
		flex-shrink: 0;
		display: grid;
		grid-template-columns: 1fr 66px;
		grid-column-gap: 0.5rem;
		padding-bottom: 0.5rem;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		background: var(--color-primary-shade-2);
		border-bottom: 2px solid var(--color-primary-shade-3);

		+ .monster__body {
			margin-top: 0;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

		.monster__image {
			grid-row: 1 / span 2;
			grid-column: 2;
			position: relative;

			img {
				background: black;
				border-radius: 0.75rem;
				border: 2px solid var(--color-primary-shade-4);
				display: block;
			}
		}

		.monster__name {
			font-size: 2.5rem;
			letter-spacing: 0.5px;
			font-family: 'Londrina Solid';
			line-height: 1.1;
		}

		.monster__description {
			font-weight: 600;
			font-size: larger;
			grid-column: 1;
		}

		.monster__name,
		.monster__description {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.monster__combat {
			grid-column: 1 / span 2;
			font-weight: 600;
			position: relative;
			text-align: center;
			font-weight: 600;
			font-size: larger;
			border-top: 1px solid var(--color-primary-shade-4);
			margin: 0.5rem -1rem -0.5rem;
			padding: 0.5rem 1rem;

			.level,
			.rank,
			.role,
			.phase {
				display: inline-block;

				i {
					margin-right: 0.25rem;
				}

				&:not(:first-child) {
					margin-left: 0.25rem;

					&::before {
						content: '•';
						color: var(--color-primary-shade-4);
						margin-right: 0.25rem;
					}
				}
			}

			.rank .stars {

				i:not(:first-child) {
					margin-left: -20px;
					filter: drop-shadow(0 0 2px var(--color-primary-shade-3));
				}
			}
		}
	}

	.monster__body {
		background: white;
        color: black;
		margin-top: -1rem;
		border-radius: 1rem;
		padding: 1rem;
		overflow-y: auto;
		flex-grow: 1;
		background: var(--color-primary-tint-2);

		> * + * {
			margin-top: 0.5rem;
		}
	}

	.monster__blocks {
		filter: drop-shadow(0 2px 0 var(--color-primary-shade-4));

		.monster__blocks__row {
			display: flex;

			> * + * {
				margin-left: 0.25rem;
			}

			+ .monster__blocks__row {
				margin-top: 0.25rem;
			}
		}     

		.hit-points,
		.attack-dcs {
			flex-grow: 1;
			width: 100%;
		}

		.perception,
		.ac {
			width: 6rem;
			flex-shrink: 0;
		}

		.attack {
			width: 6.5rem;
			flex-shrink: 0;
		}

		.damage {
			width: 12.25rem;
			flex-shrink: 0;

			.random {
				letter-spacing: 0;

				.roll {
					white-space: normal;
					line-height: 0.875;
					font-style: 1rem;
					text-align: left;
					letter-spacing: 0;
				}
			}
		}

		.hit-points__temporary,
		.hit-points__current {

			&:hover {
				color: var(--color-secondary-base);

				i {
					color: var(--color-secondary-base);
				}
			}
		}

		.input--thp,
		.input--hp {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			text-align: center;
			font-size: inherit;
			font-family: inherit;
			opacity: 0;
			background: var(--color-primary-tint-5);
			border: none;
			border-radius: 0.5rem;

			&:focus {
				opacity: 1;
			}
		}
	}

	.gg5e-mm-panel {
		filter: drop-shadow(0 2px 0 var(--color-primary-shade-4));

		.panel__header {
			text-align: center;
			padding-left: 3rem;
		}
	}

	.monster__properties {
		columns: 2;
		column-gap: 2rem;
		column-rule: 1px dotted var(--color-primary-tint-3);

		.monster__property {
			display: flex;
			margin-bottom: 0.125rem;

			&:last-child {
				margin-bottom: 0;
			}

			.property__body {
				flex-grow: 1;
				display: flex;
				justify-content: space-between;
			}
			
			.property__icon {
				color: var(--color-primary-tone-1);
				margin-right: 0.5rem;
			}

			.property__title {
				color: var(--color-primary-tone-1);
				font-weight: bold;
				flex-grow: 1;
				white-space: nowrap;
				flex-shrink: 0;
				display: flex;
				text-transform: uppercase;

				&::after {
					content: '';
					flex-grow: 1;
					border-bottom: 1px dotted var(--color-primary-tint-3);
					margin: 0 0.5rem;
					height: 13px;
					min-width: 2rem;
				}
			}

			.property__value {

				span:not(:last-child)::after {
					content: ', ';
				}
			}
		}

		.property--divider {

			+ .monster__property {
				margin-top: 1rem;
			}
		}

		.property--wide {
			column-span: all;

			.property__body {
				justify-content: flex-start;
			}

			.property__title {
				flex-grow: 0;
				width: 13.25rem;
			}
		}
	}

	.monster__divider {
		height: 1px;
		margin: 0.5rem 0;
		background: var(--color-primary-base);

		&:last-child,
		+ .monster__divider {
			display: none;
		}
	}

	.monster__modifiers {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: 0.25rem;
	}

	.monster__modifier {
		text-align: center;
		overflow: hidden;
		background: var(--color-primary-tint-4);
		border-radius: 0.75rem;
		filter: drop-shadow(0 2px 0 var(--color-primary-shade-4));

		.modifier {
			background: white;
			border-radius: 0 0 1.5rem 1.5rem;
		}

		.title {
			text-transform: uppercase;
			color: var(--color-primary-tone-1);
			font-weight: bold;
			position: relative;
			padding: 0.25rem 0.25rem 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: larger;
		}

		.value {
			height: 4rem;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.75rem;
			font-weight: normal;
			font-family: 'Londrina Solid';
			letter-spacing: 2px;
			padding-bottom: 1.4rem;

			button {
				padding: 0;
				font-size: inherit;
				font-family: inherit;
			}
		}

		.save {
			position: relative;
			z-index: 1;
			height: 2.5rem;
			margin-top: -1.5rem;
			font-weight: bold;
			font-size: 1.25rem;
			padding-bottom: 0.5rem;
			color: white;
			display: flex;
			justify-content: center;
			letter-spacing: 1px;
			align-items: center;
			filter: drop-shadow(0 1px 0 white);
			margin-bottom: 2px;

			button {
				padding: 0;
				font-size: inherit;
				font-family: inherit;
				color: inherit;
				font-weight: inherit;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				width: 2.5rem;
				height: 100%;
				left: calc(50% - 1.25rem);
				background: var(--color-primary-shade-1);
				clip-path: polygon(0% 10%, 10% 70%, 50% 100%, 90% 70%, 100% 10%, 50% 0%);
				z-index: -1;
			}

			&:hover::before {
				background: var(--color-secondary-base);
			}
		}
	}

	.monster__skill {
		padding: 0;
		display: inline;
		width: auto;
		font-weight: normal;
		font-family: inherit;
		line-height: inherit;
		font-size: inherit;

		&:not(:last-child)::after {
			content: ', ';
		}
	}
	
	.monster__biography {

		.panel__body {
			white-space: normal;
			word-break: break-word;

			> :first-child {
				margin-top: 0;
			}

			> :last-child {
				margin-bottom: 0;
			}
		}
	}

	.panel--paragon-actions,
	.panel--legendary-resistances,
	.panel--legendary-actions,
	.panel--lair-actions {

		.panel__body {
			display: grid;
			grid-template-columns: 1fr 5.5rem 5.5rem;
			grid-column-gap: 0;
			align-items: center;
		}

		.legendary__blurb {
			padding-right: 1rem;
			font-size: smaller;
			line-height: 13px;
			overflow-y: auto;
			text-overflow: ellipsis;
			border-right: 1px solid var(--color-primary-tint-4);
			text-align: right;
			margin-right: 0.5rem;
		}

		.legendary--current {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			text-align: center;
			font-size: inherit;
			font-family: inherit;
			opacity: 0;
			background: var(--color-primary-tint-5);
			border: none;
			border-radius: 0.5rem;

			&:focus {
				opacity: 1;
			}
		}

		.legendary__current,
		.legendary__maximum {
			text-align: center;
		}

		.legendary__value {
			font-family: 'Londrina Solid';
			font-size: 1.75rem;
			line-height: 1.5rem;
			letter-spacing: 0.5px;
			position: relative;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;

			i {
				margin-right: 0.25rem;
				color: var(--color-primary-shade-2);
			}
		}

		.legendary__current .legendary__value:hover {
			color: var(--color-secondary-base);

			i {
				color: var(--color-secondary-base);
			}
		}

		.legendary__description {
			margin-top: 0.25rem;
			font-size: smaller;
			font-weight: 600;
			color: var(--color-primary-tone-1);
		}
	}

	.panel--lair-actions { 

		.panel__body {
			grid-template-columns: 1fr 5.5rem;
		}

		.legendary__value i {
			font-size: 0.9em;
		}
	}

	.button--text {
		background: none;
		border: none;
		box-shadow: none;
		margin: 0;
		border-radius: 0;
		cursor: pointer;

		&:hover {
			color: var(--color-secondary-base);

			i {
				color: var(--color-secondary-shade-1);
			}
		}
	}

	.item-collection {

		&:not(:last-child) {
			border-bottom: 1px solid var(--color-primary-tint-4);
		}

		.item-collection__header {
			background: var(--color-primary-tint-5);
			padding: 0.5rem;
			text-transform: uppercase;
			font-weight: bold;
			color: var(--color-primary-tint-1);
			display: flex;

			&::before {
				content: "\f550";
				-webkit-font-smoothing: antialiased;
				font-family: "Font Awesome 5 Free";
				font-weight: bold;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				font-size: larger;
				width: 40px;
				margin-right: 0.5rem;
				text-align: center;
			}

			.header__title {
				flex-grow: 1;
			}

			button {
				background: var(--color-primary-base);
				color: white;
				font-weight: bold;
				border: none;
				border-radius: 1rem;
				line-height: 1;
				width: 5.5rem;

				&:hover {
					cursor: pointer;
					background: var(--color-secondary-base);
					box-shadow: none;
				}
			}
		}

		.item {
			padding: 0;
			display: flex;
			position: relative;

			&:not(:last-child) {
				border-bottom: 1px dotted var(--color-primary-tint-3);
			}
		};

		.item__icon {
			flex-shrink: 0;
			margin: 0.5rem;
			width: 41px;
			height: 41px;
			background: black;
			border-radius: 4px;
			overflow: hidden;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				border: none;
				display: block;
			}

			button {
				opacity: 0;
				position: absolute;
				width: 41px;
				height: 41px;
				color: white;
				display: flex;
				justify-content: center;
				align-items: center;
				background: black;
				border: none;
				top: 0;
				left: 0;
				cursor: pointer;
				font-size: 26px;
				
				&:hover {
					opacity: 1;
				}
			}
		}

		.item__body {
			flex-grow: 1;
			overflow: hidden;
		}

		.item__title {
			line-height: 35px;
			font-family: 'Londrina Solid';
			font-size: 22px;
			padding-right: 4.5rem;
			text-overflow: ellipsis;
			white-space: nowrap;

			&:hover {
				cursor: pointer;
				color: var(--color-secondary-base);
			}
		}

		.item__detail {
			font-size: small;
			line-height: 1.2;
			padding-bottom: 0.5rem;
			padding-right: 0.5rem;

			> *:first-child {
				margin-top: 0;
			}

			> *:last-child {
				margin-bottom: 0;
			}
		}

		.item__tags {
			font-size: smaller;
			font-style: italic;
			padding-bottom: 0.5rem;
			color: var(--color-primary-tone-1);

			&::before {
				content: "\f02c";
				-webkit-font-smoothing: antialiased;
				font-family: "Font Awesome 5 Free";
				font-weight: bold;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				margin-right: 0.15rem;
			}

			.item__tag {

				&:not(:last-child)::after {
					content: ", ";
				}
			}
		}

		.item__actions {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 35px;
			margin-right: 0.5rem;
			width: 5.5rem;

			button {
				margin: 0;
				padding: 0;
				border: none;
				color: var(--color-primary-tint-2);
				background: var(--color-primary-tint-5);
				text-align: center;
				cursor: pointer;
				border-radius: 1rem;
				height: 28px;
				width: 28px;

				i {
					margin: 0;
					width: 100%;
					text-align: center;
				}

				&:hover,
				&:focus {
					background: var(--color-secondary-base);
					color: white;
					text-shadow: none;
					box-shadow: none;
				}
			}
		}
	}

	.panel--legacy-attacks,
	.panel--legacy-actions,
	.panel--legacy-features,
	.panel--legacy-inventory,
	.panel--legacy-spells {

		.panel__body {
			padding: 0;

			&::before {
				display: none;
			}
		}
	}
}