<div class="move-parent ability-ranking">
	<input type="hidden" name="data.gg5e_mm.blueprint.data.ability_modifiers.ranking" value="{{value}}"/>
	<span class="value"><i class="{{localize (concat 'gg5e_mm.monster.common.ability.' value '.icon')}} fa-fw"></i> {{localize (concat 'gg5e_mm.monster.common.ability.' value '.name')}}</span>
	<button type="button" class="move-up"><i class="fas fa-arrow-up"></i></button>
	<button type="button" class="move-down"><i class="fas fa-arrow-down"></i></button>
</div>