<div class="form-group">
    <div class="form-group__header">
        <span class="form-group__title">{{localize (concat 'gg5e_mm.monster.common.skill.' skill)}}</span>
    </div>
    <div class="form-group__body">
        <select name="data.gg5e_mm.blueprint.data.skills.{{skill}}">
            {{#select proficiency}}
                <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
            {{/select}}
        </select>
    </div>
</div>