<div class="accordion-section" data-section="biography">
	<div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.biography.title'}}</div>
	<div class="accordion-section__body">
		<div class="form-group">
			<div class="form-group__body">
                <div class="html-field">
                    {{editor content=data.gg5e_mm.blueprint.data.biography target='data.gg5e_mm.blueprint.data.biography' button=true owner=owner editable=editable}}
                </div>
			</div>
		</div>
	</div>
</div>