<div class="accordion-section" data-section="display">
	<div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.display.title'}}</div>
	<div class="accordion-section__body">
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.display.skin'}}</span>
			</div>
			<div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.display.skin">
                    {{#select data.gg5e_mm.blueprint.data.display.skin}}
                        {{#each data.gg5e_mm.enums.skins}}
                            <option value="{{.}}">{{localize (concat 'gg5e_mm.display.skin.' .)}}</option>
                        {{/each}}
                    {{/select}}
                </select>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.display.color'}}</span>
			</div>
			<div class="form-group__body">
				<select name="data.gg5e_mm.blueprint.data.display.color">
                    {{#select data.gg5e_mm.blueprint.data.display.color}}
                        {{#each data.gg5e_mm.enums.colors}}
                            <option value="{{.}}">{{localize (concat 'gg5e_mm.display.color.' .)}}</option>
                        {{/each}}
                    {{/select}}
                </select>
			</div>
		</div>
	</div>
</div>