<div class="accordion-section" data-section="initiative">
	<div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.initiative.title'}}</div>
	<div class="accordion-section__body">
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.initiative.ability'}}</span>
			</div>
			<div class="form-group__body">
				<select name="data.gg5e_mm.blueprint.data.initiative.ability">
					{{#select data.gg5e_mm.blueprint.data.initiative.ability}}
						{{#each data.gg5e_mm.enums.abilities}}
							<option value="{{.}}">{{localize (concat 'gg5e_mm.monster.common.ability.' . '.name')}}</option>
						{{/each}}
					{{/select}}
				</select>
			</div>
		</div>
		<div class="form-group form-group--modifier">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.initiative.advantage'}}</span>
			</div>
			<div class="form-group__body">
				<input type="checkbox" name="data.gg5e_mm.blueprint.data.initiative.advantage" {{#if data.gg5e_mm.blueprint.data.initiative.advantage}}checked{{/if}}/>
			</div>
		</div>
		<div class="form-group form-group--modifier">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.initiative.modifier'}}</span>
				<button type="button" class="button button--help" data-action="open-modal" data-modal="modal_modifiers">
					<i class="fas fa-question"></i>
				</button>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.initiative.modifier" type="number" value="{{data.gg5e_mm.blueprint.data.initiative.modifier}}"/>
				<label class="checkbox">
					<input type="checkbox" name="data.gg5e_mm.blueprint.data.initiative.override" {{#if data.gg5e_mm.blueprint.data.initiative.override}}checked{{/if}}/> {{localize 'gg5e_mm.monster.options.is_fixed'}}
				</label>
			</div>
		</div>
	</div>
</div>