<div class="accordion-section" data-section="lair_actions">
	<div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.lair_actions.title'}}</div>
	<div class="accordion-section__body">
		<div class="form-group form-group--modifier">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.lair_actions.enabled'}}</span>
			</div>
			<div class="form-group__body">
				<input type="checkbox" name="data.gg5e_mm.blueprint.data.lair_actions.enabled" {{#if data.gg5e_mm.blueprint.data.lair_actions.enabled}}checked{{/if}}/>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.lair_actions.current'}}</span>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.lair_actions.initiative" value="{{data.gg5e_mm.blueprint.data.lair_actions.initiative}}" type="number"/>
			</div>
		</div>
	</div>
</div>