<div class="accordion-section" data-section="legendary_resistances">
	<div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.legendary_resistances.title'}}</div>
	<div class="accordion-section__body">
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.legendary_resistances.current'}}</span>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.legendary_resistances.current" value="{{data.gg5e_mm.blueprint.data.legendary_resistances.current}}" type="number"/>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group__header">
				<span class="form-group__title">{{localize 'gg5e_mm.monster.options.legendary_resistances.maximum'}}</span>
			</div>
			<div class="form-group__body">
				<input name="data.gg5e_mm.blueprint.data.legendary_resistances.maximum" value="{{data.gg5e_mm.blueprint.data.legendary_resistances.maximum}}" type="number"/>
			</div>
		</div>
	</div>
</div>