$primary-base: #327fad;

$primary-shade-1: mix($primary-base, black, 80%);
$primary-shade-2: mix($primary-base, black, 60%);
$primary-shade-3: mix($primary-base, black, 40%);
$primary-shade-4: mix($primary-base, black, 20%);

$primary-tone-1: desaturate($primary-base, 20%);
$primary-tone-2: desaturate($primary-base, 40%);
$primary-tone-3: desaturate($primary-base, 60%);
$primary-tone-4: desaturate($primary-base, 80%);

$primary-tint-1: mix($primary-base, white, 80%);
$primary-tint-2: mix($primary-base, white, 60%);
$primary-tint-3: mix($primary-base, white, 40%);
$primary-tint-4: mix($primary-base, white, 20%);

$secondary-base: adjust-hue($primary-base, 180deg);

$secondary-shade-1: mix($secondary-base, black, 80%);
$secondary-shade-2: mix($secondary-base, black, 60%);
$secondary-shade-3: mix($secondary-base, black, 40%);
$secondary-shade-4: mix($secondary-base, black, 20%);

$secondary-tone-1: desaturate($secondary-base, 20%);
$secondary-tone-2: desaturate($secondary-base, 40%);
$secondary-tone-3: desaturate($secondary-base, 60%);
$secondary-tone-4: desaturate($secondary-base, 80%);

$secondary-tint-1: mix($secondary-base, white, 80%);
$secondary-tint-2: mix($secondary-base, white, 60%);
$secondary-tint-3: mix($secondary-base, white, 40%);
$secondary-tint-4: mix($secondary-base, white, 20%);