// Common fonts

@font-face {
	font-family: 'Londrina Solid';
	src: url('./fonts/LondrinaSolid-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Londrina Solid';
	src: url('./fonts/LondrinaSolid-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Londrina Solid';
	src: url('./fonts/LondrinaSolid-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Londrina Solid';
	src: url('./fonts/LondrinaSolid-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('./fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('./fonts/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('./fonts/SourceSansPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('./fonts/SourceSansPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('./fonts/SourceSansPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('./fonts/SourceSansPro-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('./fonts/SourceSansPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('./fonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('./fonts/SourceSansPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('./fonts/SourceSansPro-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('./fonts/SourceSansPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('./fonts/SourceSansPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

