.gmm-blueprint.blueprint--monster--vanity {

	.form-group--image {

		img {
			background: black;
			border-radius: 0.75rem;
			width: 4.2rem;
			margin: 0.25rem auto 0.25rem 0.5rem;
			border: none;
			display: block;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.fieldset-rank {

		.target-players,
		.phases {
			display: none;
		}

		&:not(.rank-custom) {

			.form-group:not(.type) {
				display: none;
			}
		}

		&.scale-with-players {

			.form-group.target-players {
				display: flex;
			}
		}

		&.show-phases {

			.form-group.phases {
				display: flex;
			}
		}

		.phases {

			.form-group__body {
				display: flex;
				align-items: center;

				input {
					width: 100%;
					flex-grow: 1;

					&:first-child {
						margin-right: 0.5rem;
					}

					&:last-child {
						margin-left: 0.5rem;
					}
				}
			}
		}
	}

	.fieldset-role {

		&:not(.role-custom) {

			.form-group:not(.type) {
				display: none;
			}
		}
	}

	.form-group--modifier {

		.form-group__body {
			display: flex;

			.checkbox {
				display: inline-flex;
				font-size: inherit;
				white-space: nowrap;
				height: auto;
				justify-content: center;
				align-items: center;
				padding: 0 0.5rem;

				&:hover {
					cursor: pointer;
				}

				
				input {
					margin: 0;
					top: 0;
					display: inline-block;
					margin-right: 0.25rem;
				}
			}
		}
	}

	.ability-ranking,
	.save-ranking {
		display: flex;
		line-height: 2rem;

		&:not(:first-child) {
			border-top: 1px solid var(--color-primary-tint-3);
		}

		.value {
			flex-grow: 1;
			padding: 0 0.5rem;

			i {
				width: 1.5rem;
				line-height: 1.5rem;
				display: inline-block;
				margin-right: 0.25rem;
				justify-content: center;
				align-items: center;
				background: var(--color-primary-tint-4);
				border-radius: 1rem;
				color: var(--color-primary-shade-1);
			}
		}

		.move-down,
		.move-up {
			background: none;
			border: none;
			padding: 0;
			margin: 0;
			width: 2rem;

			&:hover {
				cursor: pointer;
				box-shadow: none;
				color: var(--color-primary-base);
			}
		}
	}

	.items {

		.item {
			display: flex;
			padding: 0.25rem 0.5rem;
			align-items: center;

			&:not(:last-child) {
				border-bottom: 1px dotted var(--color-primary-tint-3);
			}
		}

		.item__icon {
			margin: -0.25rem 6px -0.25rem -0.5rem;
			width: 26px;
			height: 26px;
			background: black;

			img {
				max-width: 100%;
				max-height: 100%;
				border: none;
				display: block;
			}
		}

		.item__title {
			flex-grow: 1;
			white-space: nowrap;
			margin-right: 1rem;
		}

		.item__actions {
			display: flex;
			margin-right: -0.25rem;
			margin-top: -0.25rem;
			margin-bottom: -0.25rem;

			button {
				background: none;
				color: var(--color-primary-tint-3);
				border: none;
				font-weight: bold;
				line-height: 1.5;
				padding: 0;
				cursor: pointer;
				text-align: center;

				i {
					margin: 0;
				}

				+ * {
					margin-left: 0.5rem;
				}

				&:hover {
					box-shadow: none;
					color: var(--color-primary-base);
				}
			}
		}
	}

	.table--spell-slots,
	.table--pact-slots {
		text-align: center;

		th,
		td {
			width: 33%;
		}

		td {
			padding: 0;
		}
	}
}