<div class="modal" id="modal_modifiers">
    <div class="modal__dialog">
        <div class="modal__header">
            <span class="modal__title">Modifying Values</span>
            <button class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal__body">
            <p>To change an automated value (hit points, armor class, attack bonuses, etc) for your monster, you can apply a positive or negative <i>modifier</i>.</p>
            <hr/>
            <p>There are two kinds of modifier you can apply:</p>
            <ol>
                <li><strong>Relative:</strong> Increase or decrease the automated value by this amount (i.e. av = av +/- x).</li>
                <li><strong>Absolute:</strong> Replace the automated value entirely with this exact amount (i.e. av = x).</li>
            </ol>
        </div>
        <div class="modal__footer">
            <button class="modal__button" data-action="close-modal">Ok</button>
        </div>
    </div>
</div>
<div class="modal" id="modal_ability_modifiers">
    <div class="modal__dialog">
        <div class="modal__header">
            <span class="modal__title">Modifying Abilities</span>
            <button class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal__body">
            <p>To customise your monster's ability modifiers and saving throws, you can define a series of comma-separated <i>modifiers</i>—for example:</p>
            <pre class="text--center">
                str=1, int=-2, cha=7
            </pre>
            <p>These modifiers can be either <i>relative</i> or <i>absolute</i> in nature.</p>
        </div>
        <div class="modal__footer">
            <button class="modal__button" data-action="close-modal">Ok</button>
        </div>
    </div>
</div>
<div class="modal" id="modal_ability_ranks">
    <div class="modal__dialog">
        <div class="modal__header">
            <span class="modal__title">Ranking Abilities</span>
            <button class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal__body">
            <p>To automatically calculate your monster's ability modifiers and saving throws, rank their six abilities from the strongest (top) to the weakest (bottom).</p>
        </div>
        <div class="modal__footer">
            <button class="modal__button" data-action="close-modal">Ok</button>
        </div>
    </div>
</div>
<div class="modal" id="modal_tags">
    <div class="modal__dialog">
        <div class="modal__header">
            <span class="modal__title">Monster Tags</span>
            <button class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal__body">
            <p>Create <i>tags</i> to define categories and sub-types for your monster—ancestries, power sources, elements, factions, affiliations, etc.</p>
            <hr/>
            <p>You can create multiple tags by separating each with a comma—for example:</p>
            <pre class="text--center">
                val1, second value, thirdValue
            </pre>
        </div>
        <div class="modal__footer">
            <button class="modal__button" data-action="close-modal">Ok</button>
        </div>
    </div>
</div>