<div class="accordion-section" data-section="damage-vulnerabilities">
    <div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.damage_vulnerabilities.title'}}</div>
    <div class="accordion-section__body">
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.options.damage_vulnerabilities.options'}}</span>
            </div>
            <div class="form-group__body">
                <div class="checkboxes">
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.acid" {{#if data.gg5e_mm.blueprint.data.damage_vulnerabilities.acid}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.damage.acid'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.bludgeoning" {{#if data.gg5e_mm.blueprint.data.damage_vulnerabilities.bludgeoning}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.damage.bludgeoning'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.cold" {{#if data.gg5e_mm.blueprint.data.damage_vulnerabilities.cold}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.damage.cold'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.fire" {{#if data.gg5e_mm.blueprint.data.damage_vulnerabilities.fire}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.damage.fire'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.force" {{#if data.gg5e_mm.blueprint.data.damage_vulnerabilities.force}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.damage.force'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.lightning" {{#if data.gg5e_mm.blueprint.data.damage_vulnerabilities.lightning}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.damage.lightning'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.necrotic" {{#if data.gg5e_mm.blueprint.data.damage_vulnerabilities.necrotic}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.damage.necrotic'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.non_magical_physical" {{#if data.gg5e_mm.blueprint.data.damage_vulnerabilities.non_magical_physical}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.damage.non_magical_physical'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.piercing" {{#if data.gg5e_mm.blueprint.data.damage_vulnerabilities.piercing}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.damage.piercing'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.poison" {{#if data.gg5e_mm.blueprint.data.damage_vulnerabilities.poison}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.damage.poison'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.psychic" {{#if data.gg5e_mm.blueprint.data.damage_vulnerabilities.psychic}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.damage.psychic'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.radiant" {{#if data.gg5e_mm.blueprint.data.damage_vulnerabilities.radiant}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.damage.radiant'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.slashing" {{#if data.gg5e_mm.blueprint.data.damage_vulnerabilities.slashing}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.damage.slashing'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.thunder" {{#if data.gg5e_mm.blueprint.data.damage_vulnerabilities.thunder}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.damage.thunder'}}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.options.damage_vulnerabilities.other'}}</span>
            </div>
            <div class="form-group__body">
                <input name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.other" value="{{data.gg5e_mm.blueprint.data.damage_vulnerabilities.other}}"/>
            </div>
        </div>
    </div>
</div>