<div class="pane pane--edit gg5e-mm-monster-options">
    <div class="pane__header options__header">
        <div class="pane__icon"><i class="fas fa-cogs"></i></div>
        <div class="pane__title">{{localize 'gg5e_mm.monster.options.title'}}</div>
    </div>
    <div class="pane__body options__body" id="options-body">
        <div class="gg5e-mm-accordion gg5e-mm-form" id="accordion-builder">
            <input type="hidden" name="data.gg5e_mm.gui.data.accordions.accordion_builder" value="{{data.gg5e_mm.gui.data.accordions.accordion_builder}}"/>
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_description.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_combat.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_hit_points.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_armor_class.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_perception.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_attack_bonus.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_attack_dcs.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_damage.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_abilities.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_saving_throws.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_speeds.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_senses.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_languages.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_damage_vulnerabilities.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_damage_resistances.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_damage_immunities.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_condition_immunities.html" }}
            {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/core/options_skills.html" }}
        </div>
    </div>
</div>