<div class="accordion-section" data-section="skills">
    <div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.skills.title'}}</div>
    <div class="accordion-section__body">
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.acrobatics'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.acrobatics">
                    {{#select data.gg5e_mm.blueprint.data.skills.acrobatics}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.animal_handling'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.animal_handling">
                    {{#select data.gg5e_mm.blueprint.data.skills.animal_handling}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.arcana'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.arcana">
                    {{#select data.gg5e_mm.blueprint.data.skills.arcana}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.athletics'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.athletics">
                    {{#select data.gg5e_mm.blueprint.data.skills.athletics}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.deception'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.deception">
                    {{#select data.gg5e_mm.blueprint.data.skills.deception}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.history'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.history">
                    {{#select data.gg5e_mm.blueprint.data.skills.history}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.insight'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.insight">
                    {{#select data.gg5e_mm.blueprint.data.skills.insight}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.intimidation'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.intimidation">
                    {{#select data.gg5e_mm.blueprint.data.skills.intimidation}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.investigation'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.investigation">
                    {{#select data.gg5e_mm.blueprint.data.skills.investigation}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.medicine'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.medicine">
                    {{#select data.gg5e_mm.blueprint.data.skills.medicine}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.nature'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.nature">
                    {{#select data.gg5e_mm.blueprint.data.skills.nature}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.perception'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.perception">
                    {{#select data.gg5e_mm.blueprint.data.skills.perception}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.performance'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.performance">
                    {{#select data.gg5e_mm.blueprint.data.skills.performance}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.persuasion'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.persuasion">
                    {{#select data.gg5e_mm.blueprint.data.skills.persuasion}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.religion'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.religion">
                    {{#select data.gg5e_mm.blueprint.data.skills.religion}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.sleight_of_hand'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.sleight_of_hand">
                    {{#select data.gg5e_mm.blueprint.data.skills.sleight_of_hand}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.stealth'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.stealth">
                    {{#select data.gg5e_mm.blueprint.data.skills.stealth}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.common.skill.survival'}}</span>
            </div>
            <div class="form-group__body">
                <select name="data.gg5e_mm.blueprint.data.skills.survival">
                    {{#select data.gg5e_mm.blueprint.data.skills.survival}}
                        <option value="">{{localize 'gg5e_mm.monster.common.proficiency.none'}}</option>
                        <option value="half-proficient">{{localize 'gg5e_mm.monster.common.proficiency.half'}}</option>
                        <option value="proficient">{{localize 'gg5e_mm.monster.common.proficiency.full'}}</option>
                        <option value="expert">{{localize 'gg5e_mm.monster.common.proficiency.double'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </div>
</div>