<div class="accordion-section" data-section="armor">
    <div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.armor_class.title'}}</div>
    <div class="accordion-section__body">
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.options.armor_class.type'}}</span>
            </div>
            <div class="form-group__body">
                <input name="data.gg5e_mm.blueprint.data.armor_class.type" value="{{data.gg5e_mm.blueprint.data.armor_class.type}}"/>
            </div>
        </div>
        <div class="form-group form-group--modifier">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.options.armor_class.modifier'}}</span>
                <button type="button" class="button button--help" data-action="open-modal" data-modal="modal_modifiers">
                    <i class="fas fa-question"></i>
                </button>
            </div>
            <div class="form-group__body">
                <input name="data.gg5e_mm.blueprint.data.armor_class.modifier" type="number" value="{{data.gg5e_mm.blueprint.data.armor_class.modifier}}"/>
                <label class="checkbox">
                    <input type="checkbox" name="data.gg5e_mm.blueprint.data.armor_class.override" {{#if data.gg5e_mm.blueprint.data.armor_class.override}}checked{{/if}}/> {{localize 'gg5e_mm.monster.options.is_fixed'}}
                </label>
            </div>
        </div>
    </div>
</div>