<div class="accordion-section" data-section="damage-vulnerabilities">
    <div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.damage_vulnerabilities.title'}}</div>
    <div class="accordion-section__body">
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.options.damage_vulnerabilities.options'}}</span>
            </div>
            <div class="form-group__body">
                <div class="checkboxes">
                    {{#each data.gg5e_mm.enums.damage_types}}
                        {{> "modules/giffyglyphs-5e-monster-maker/templates/partials/monster/components/damage_vulnerability.html"
                            damage=.
                            isEnabled=(lookup ../data.gg5e_mm.blueprint.data.damage_vulnerabilities .)
                        }}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.options.damage_vulnerabilities.other'}}</span>
            </div>
            <div class="form-group__body">
                <input name="data.gg5e_mm.blueprint.data.damage_vulnerabilities.other" value="{{data.gg5e_mm.blueprint.data.damage_vulnerabilities.other}}"/>
            </div>
        </div>
    </div>
</div>