<div class="accordion-section" data-section="languages">
    <div class="accordion-section__header">{{localize 'gg5e_mm.monster.options.languages.title'}}</div>
    <div class="accordion-section__body">
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.options.languages.options'}}</span>
            </div>
            <div class="form-group__body">
                <div class="checkboxes">
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.aarakocra" {{#if data.gg5e_mm.blueprint.data.languages.aarakocra}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.aarakocra'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.abyssal" {{#if data.gg5e_mm.blueprint.data.languages.abyssal}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.abyssal'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.aquan" {{#if data.gg5e_mm.blueprint.data.languages.aquan}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.aquan'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.auran" {{#if data.gg5e_mm.blueprint.data.languages.auran}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.auran'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.celestial" {{#if data.gg5e_mm.blueprint.data.languages.celestial}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.celestial'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.common" {{#if data.gg5e_mm.blueprint.data.languages.common}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.common'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.deep_speech" {{#if data.gg5e_mm.blueprint.data.languages.deep_speech}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.deep_speech'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.draconic" {{#if data.gg5e_mm.blueprint.data.languages.draconic}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.draconic'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.druidic" {{#if data.gg5e_mm.blueprint.data.languages.druidic}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.druidic'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.dwarvish" {{#if data.gg5e_mm.blueprint.data.languages.dwarvish}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.dwarvish'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.elvish" {{#if data.gg5e_mm.blueprint.data.languages.elvish}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.elvish'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.giant" {{#if data.gg5e_mm.blueprint.data.languages.giant}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.giant'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.gith" {{#if data.gg5e_mm.blueprint.data.languages.gith}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.gith'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.gnoll" {{#if data.gg5e_mm.blueprint.data.languages.gnoll}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.gnoll'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.gnomish" {{#if data.gg5e_mm.blueprint.data.languages.gnomish}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.gnomish'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.goblin" {{#if data.gg5e_mm.blueprint.data.languages.goblin}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.goblin'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.halfling" {{#if data.gg5e_mm.blueprint.data.languages.halfling}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.halfling'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.ignan" {{#if data.gg5e_mm.blueprint.data.languages.ignan}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.ignan'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.infernal" {{#if data.gg5e_mm.blueprint.data.languages.infernal}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.infernal'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.orc" {{#if data.gg5e_mm.blueprint.data.languages.orc}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.orc'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.primordial" {{#if data.gg5e_mm.blueprint.data.languages.primordial}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.primordial'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.sylvan" {{#if data.gg5e_mm.blueprint.data.languages.sylvan}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.sylvan'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.terran" {{#if data.gg5e_mm.blueprint.data.languages.terran}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.terran'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.thieves_cant" {{#if data.gg5e_mm.blueprint.data.languages.thieves_cant}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.thieves_cant'}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.gg5e_mm.blueprint.data.languages.undercommon" {{#if data.gg5e_mm.blueprint.data.languages.undercommon}}checked{{/if}}/> {{localize 'gg5e_mm.monster.common.languages.undercommon'}}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__header">
                <span class="form-group__title">{{localize 'gg5e_mm.monster.options.languages.other'}}</span>
            </div>
            <div class="form-group__body">
                <input name="data.gg5e_mm.blueprint.data.languages.other" value="{{data.gg5e_mm.blueprint.data.languages.other}}"/>
            </div>
        </div>
    </div>
</div>